flows.json
[
    {
        "id": "557c81cb.728ca",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79b9207d.3c0c",
        "type": "mqtt-broker",
        "z": "",
        "name": "iot",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e6c26dc9.04db7",
        "type": "mongodb",
        "z": "",
        "hostname": "localhost",
        "port": "27017",
        "db": "golf",
        "name": ""
    },
    {
        "id": "5b427752.0eb4c8",
        "type": "mqtt in",
        "z": "557c81cb.728ca",
        "name": "",
        "topic": "sensors/temp",
        "qos": "0",
        "datatype": "json",
        "broker": "79b9207d.3c0c",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "7b1d42af.53648c",
                "6a2af111.d8bab"
            ]
        ]
    },
    {
        "id": "b61be72b.3a4e28",
        "type": "e-mail",
        "z": "557c81cb.728ca",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "zakaria@yopmail.com",
        "dname": "zak",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "7b1d42af.53648c",
        "type": "function",
        "z": "557c81cb.728ca",
        "name": "",
        "func": "var jsonmsg = msg.payload;\nvar qui = jsonmsg.who; \nvar valeur= jsonmsg.value;\nvar mes='{ \"nom\":'+'\"'+qui+'\"'+', \"valeur\":'+valeur+'}'; \nvar mestest='Monsieur '+qui+' a la température chez lui de'+valeur;\nvar obj = JSON.parse(mes);\nmsg.payload=mestest;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "b61be72b.3a4e28"
            ]
        ]
    },
    {
        "id": "6a2af111.d8bab",
        "type": "mongodb out",
        "z": "557c81cb.728ca",
        "mongodb": "e6c26dc9.04db7",
        "name": "db",
        "collection": "temperature",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 450,
        "y": 260,
        "wires": []
    }
]