partie-graphique-V1.json
[{"id":"d4a3cd7a.3534f","type":"tab","label":"Partie graphique","disabled":false,"info":""},{"id":"ba92910a.04211","type":"ui_button","z":"d4a3cd7a.3534f","name":"Boutton","group":"ace735a6.64bb48","order":0,"width":0,"height":0,"label":"Boutton","color":"#fffff","icon":"fa-star","payload":"true","payloadType":"bool","topic":"Button","x":140,"y":40,"wires":[[]]},{"id":"35373dac.2e23e2","type":"ui_dropdown","z":"d4a3cd7a.3534f","name":"Liste de choix","label":"Choisissez ce que vous voulez","group":"ace735a6.64bb48","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Choix 1 : chaine","value":"Choix1","type":"str"},{"label":"Choix 2 : numérique","value":4,"type":"num"},{"label":"Choix 3 : bool","value":true,"type":"bool"}],"payload":"","topic":"Liste de choix","x":160,"y":80,"wires":[[]]},{"id":"b1f2f3c7.0b0ef","type":"ui_switch","z":"d4a3cd7a.3534f","name":"Interrupteur","label":"switch","group":"ace735a6.64bb48","order":0,"width":0,"height":0,"passthru":true,"topic":"Interrupteur","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":140,"wires":[[]]},{"id":"8af5aeb9.adadb","type":"ui_slider","z":"d4a3cd7a.3534f","name":"Slider","label":"slider","group":"ace735a6.64bb48","order":0,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":10,"step":1,"x":130,"y":200,"wires":[[]]},{"id":"ce4f93ea.c356d","type":"ui_numeric","z":"d4a3cd7a.3534f","name":"","label":"numeric","group":"ace735a6.64bb48","order":0,"width":0,"height":0,"passthru":true,"topic":"Numérique","format":"{{value}}","min":0,"max":10,"x":140,"y":260,"wires":[[]]},{"id":"fdc2431d.95e","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"Champ saisie de Texte","group":"ace735a6.64bb48","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Champ saisie de Texte","x":180,"y":340,"wires":[[]]},{"id":"bf56844c.109d38","type":"ui_form","z":"d4a3cd7a.3534f","name":"","label":"Un formulaire Node-RED","group":"9340858a.dcbbf8","order":0,"width":0,"height":0,"options":[{"label":"Du texte","value":"Texte","type":"text","required":true},{"label":"Un nombre","value":"Nombre","type":"number","required":false},{"label":"Un email","value":"email","type":"email","required":false},{"label":"Un mot de passe","value":"Mot de passe","type":"password","required":false},{"label":"Une case à cocher","value":"Case à cocher","type":"checkbox","required":false},{"label":"Un interrupteur","value":"Interrupteur","type":"switch","required":false}],"formValue":{"Texte":"","Nombre":"","email":"","Mot de passe":"","Case à cocher":false,"Interrupteur":false},"payload":"","topic":"Formulaire","x":190,"y":460,"wires":[[]]},{"id":"b0e49eef.4b762","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"Champ saisie email","group":"ace735a6.64bb48","order":0,"width":0,"height":0,"passthru":true,"mode":"email","delay":300,"topic":"Champ saisie email","x":170,"y":300,"wires":[[]]},{"id":"5ea54451.8a20cc","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"Champ saisie mot de passe","group":"ace735a6.64bb48","order":0,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"Champ saisie mot de passe","x":200,"y":380,"wires":[[]]},{"id":"75eb6937.df9e08","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"Sélecteur de couleur","group":"ace735a6.64bb48","order":0,"width":0,"height":0,"passthru":true,"mode":"color","delay":300,"topic":"Sélecteur de couleur","x":180,"y":420,"wires":[[]]},{"id":"c0890fe.7d5d3f","type":"ui_button","z":"d4a3cd7a.3534f","name":"","group":"f9054861.f9dd38","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Salam Alaikom","payloadType":"str","topic":"","x":410,"y":60,"wires":[["ea86bf27.745a4","752163d6.ab6bbc"]]},{"id":"752163d6.ab6bbc","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":100,"wires":[]},{"id":"ea86bf27.745a4","type":"ui_text","z":"d4a3cd7a.3534f","group":"f9054861.f9dd38","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":40,"wires":[]},{"id":"5a2bef01.08bd2","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"dac5d7d0.1daed8","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"150","x":350,"y":560,"wires":[]},{"id":"5b68d668.8a35d8","type":"ui_slider","z":"d4a3cd7a.3534f","name":"","label":"slider","tooltip":"","group":"dac5d7d0.1daed8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"200","step":1,"x":130,"y":560,"wires":[["5a2bef01.08bd2","7ea56d00.4e04e4","c90ac7d9.c5d4a8"]]},{"id":"7ea56d00.4e04e4","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"dac5d7d0.1daed8","order":3,"width":"4","height":"3","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":620,"wires":[[]]},{"id":"c90ac7d9.c5d4a8","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"dac5d7d0.1daed8","order":4,"width":"2","height":"3","label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":680,"wires":[[]]},{"id":"ace735a6.64bb48","type":"ui_group","z":"","name":"Eléments d'entrée","tab":"5a14715a.c03f7","order":1,"disp":true,"width":"8"},{"id":"9340858a.dcbbf8","type":"ui_group","z":"","name":"Formulaire","tab":"5a14715a.c03f7","order":2,"disp":true,"width":"8"},{"id":"f9054861.f9dd38","type":"ui_group","z":"","name":"EL HAROUI TEST","tab":"5a14715a.c03f7","order":1,"disp":true,"width":"6","collapse":false},{"id":"dac5d7d0.1daed8","type":"ui_group","z":"","name":"Analog","tab":"5a14715a.c03f7","order":2,"disp":true,"width":"6","collapse":false},{"id":"5a14715a.c03f7","type":"ui_tab","z":"","name":"Ecran Principal","icon":"home","order":2}]