NODE-RED FLOWS/flows_17-05-2020.json
[{"id":"909d8b07.ea42b8","type":"tab","label":"Systéme d'arrosage","disabled":false,"info":""},{"id":"d4a3cd7a.3534f","type":"tab","label":"Partie graphique","disabled":false,"info":""},{"id":"80622726.88bb08","type":"mongodb","z":"","hostname":"http://212.115.110.52/","port":"27017","db":"golf","name":""},{"id":"ab590201.bac29","type":"mongodb3","z":"","uri":"mongodb://212.115.110.52:27017/golf","name":"golf","options":"","parallelism":"-1"},{"id":"8c8fe6bc.624468","type":"mqtt-broker","z":"","name":"local","broker":"localhost","port":"1818","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dac5d7d0.1daed8","type":"ui_group","z":"","d":true,"name":"Analog","tab":"5a14715a.c03f7","order":11,"disp":true,"width":"6","collapse":false},{"id":"45f6f69c.66b018","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Gestion d'un terrain de golf","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f9054861.f9dd38","type":"ui_group","z":"","d":true,"name":"EL HAROUI TEST","tab":"5a14715a.c03f7","order":9,"disp":true,"width":"6","collapse":false},{"id":"1102bf87.f6ccf","type":"ui_group","z":"","d":true,"name":"Demo","tab":"5a14715a.c03f7","order":7,"disp":true,"width":"6","collapse":false},{"id":"d339a510.3b4d58","type":"mongodb3","z":"","uri":"mongodb+srv://test:test@cluster0-d9c8u.mongodb.net/test?retryWrites=true&w=majority/golf","name":"Atlas","options":"","parallelism":"-1"},{"id":"ace735a6.64bb48","type":"ui_group","z":"","d":true,"name":"Eléments d'entrée","tab":"5a14715a.c03f7","order":10,"disp":true,"width":"8","collapse":false},{"id":"9340858a.dcbbf8","type":"ui_group","z":"","d":true,"name":"Formulaire","tab":"5a14715a.c03f7","order":8,"disp":true,"width":"8","collapse":false},{"id":"5a14715a.c03f7","type":"ui_tab","z":"","name":"STATION DE GESTION DU GOLF","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"fe0feb3e.cbd708","type":"ui_group","z":"","name":"METEO NICE","tab":"5a14715a.c03f7","order":1,"disp":true,"width":"5","collapse":false},{"id":"262f586.a875ea8","type":"ui_group","z":"d4a3cd7a.3534f","d":true,"name":"ON/OFF","tab":"5a14715a.c03f7","order":12,"disp":true,"width":"5","collapse":false},{"id":"eb5833e5.cf4c5","type":"ui_group","z":"","name":"LIEU DU GOLF {1}","tab":"5a14715a.c03f7","order":4,"disp":true,"width":"22","collapse":false},{"id":"4d046324.7d111c","type":"ui_group","z":"","name":"LIEU DU GOLF {2}","tab":"5a14715a.c03f7","order":5,"disp":true,"width":"22","collapse":false},{"id":"dcbd50d2.d21cd","type":"ui_group","z":"","name":"LIEU DU GOLF {3}","tab":"5a14715a.c03f7","order":6,"disp":true,"width":"22","collapse":false},{"id":"543c4b13.21f1f4","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"8def74a0.ac60c8","type":"ui_group","z":"","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"bc305ccc.09ef","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"9b95146a.c76fa8","type":"ui_group","z":"","name":"Sun Times","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"6cd72e38.427b5","type":"ui_group","z":"","name":"Sun Times","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"f97d0a3f.69f348","type":"ui_group","z":"","name":"Coucher/Lever du soleil","tab":"5a14715a.c03f7","order":3,"disp":true,"width":"5","collapse":false},{"id":"196e974.0d0a369","type":"ui_spacer","name":"spacer","group":"eb5833e5.cf4c5","order":7,"width":1,"height":1},{"id":"56912746.b93d48","type":"ui_spacer","name":"spacer","group":"eb5833e5.cf4c5","order":8,"width":1,"height":1},{"id":"4fe49e32.77128","type":"ui_spacer","name":"spacer","group":"eb5833e5.cf4c5","order":9,"width":1,"height":1},{"id":"9c41cd0a.ccafd","type":"ui_spacer","name":"spacer","group":"eb5833e5.cf4c5","order":10,"width":1,"height":1},{"id":"379f3a2.b618dc6","type":"ui_spacer","name":"spacer","group":"eb5833e5.cf4c5","order":11,"width":1,"height":1},{"id":"5c4f336.f33f0cc","type":"ui_spacer","name":"spacer","group":"eb5833e5.cf4c5","order":12,"width":7,"height":1},{"id":"bfc200ae.3ba0a","type":"ui_spacer","name":"spacer","group":"eb5833e5.cf4c5","order":13,"width":1,"height":1},{"id":"57a4672a.5737f8","type":"ui_spacer","name":"spacer","group":"4d046324.7d111c","order":7,"width":8,"height":1},{"id":"afbd2890.06b928","type":"ui_spacer","name":"spacer","group":"4d046324.7d111c","order":8,"width":8,"height":1},{"id":"1284a3d6.289bfc","type":"ui_spacer","name":"spacer","group":"4d046324.7d111c","order":9,"width":8,"height":1},{"id":"8571da71.0aad88","type":"ui_spacer","name":"spacer","group":"4d046324.7d111c","order":10,"width":8,"height":1},{"id":"3104094e.b17256","type":"ui_spacer","name":"spacer","group":"4d046324.7d111c","order":11,"width":8,"height":1},{"id":"9b40fe5e.cfada","type":"ui_spacer","name":"spacer","group":"4d046324.7d111c","order":12,"width":8,"height":1},{"id":"961bf479.2890d8","type":"ui_spacer","name":"spacer","group":"dcbd50d2.d21cd","order":7,"width":1,"height":1},{"id":"5a32b8af.793548","type":"ui_spacer","name":"spacer","group":"dcbd50d2.d21cd","order":8,"width":1,"height":1},{"id":"95a66ab3.88da58","type":"ui_spacer","name":"spacer","group":"dcbd50d2.d21cd","order":9,"width":1,"height":1},{"id":"f1bdf07c.60cd2","type":"ui_spacer","name":"spacer","group":"dcbd50d2.d21cd","order":10,"width":1,"height":1},{"id":"36a76ca6.42e144","type":"ui_spacer","name":"spacer","group":"dcbd50d2.d21cd","order":11,"width":1,"height":1},{"id":"748c0567.b9686c","type":"ui_spacer","name":"spacer","group":"dcbd50d2.d21cd","order":12,"width":7,"height":1},{"id":"19fc04b8.949ceb","type":"ui_spacer","name":"spacer","group":"dcbd50d2.d21cd","order":13,"width":1,"height":1},{"id":"ee0f2bb7.299158","type":"ui_spacer","name":"spacer","group":"3846c204.249cce","order":1,"width":1,"height":1},{"id":"d42e224d.14746","type":"ui_group","z":"","name":"EMPLACEMENT DU GOLF","tab":"5a14715a.c03f7","order":2,"disp":true,"width":"12","collapse":false},{"id":"26876b67.e67034","type":"inject","z":"909d8b07.ea42b8","name":"","topic":"","payload":"gettemp","payloadType":"str","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[["b0e9ebe7.7a6f38","838da8ea.5fad78","6871cb85.46e874"]]},{"id":"b0e9ebe7.7a6f38","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback/zakaria","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":540,"y":100,"wires":[]},{"id":"9e72fbb.e35d408","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/temp/zakaria","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":200,"y":280,"wires":[["9d17c626.5654a8"]]},{"id":"d72664ce.0783d8","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/temp/jassim","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":190,"y":240,"wires":[["9d17c626.5654a8"]]},{"id":"6f195434.20230c","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/temp/tonzar","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":190,"y":320,"wires":[["9d17c626.5654a8"]]},{"id":"5bddbafb.473f34","type":"mongodb3 in","z":"909d8b07.ea42b8","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"temperature","operation":"insert","x":670,"y":280,"wires":[[]]},{"id":"6871cb85.46e874","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback/jassim","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":540,"y":40,"wires":[]},{"id":"838da8ea.5fad78","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":540,"y":160,"wires":[]},{"id":"78500629.01b7b8","type":"inject","z":"909d8b07.ea42b8","name":"","topic":"","payload":"getphoto","payloadType":"str","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["838da8ea.5fad78","b0e9ebe7.7a6f38","6871cb85.46e874"]]},{"id":"495197f4.e71ae8","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/photoresistor/jassim","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":220,"y":420,"wires":[["2cc08585.6346da"]]},{"id":"1dce24d9.360b7b","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/photoresistor/zakaria","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":220,"y":380,"wires":[["2cc08585.6346da"]]},{"id":"78b8de58.d5d59","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/photoresistor/tonzar","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":220,"y":460,"wires":[["2cc08585.6346da"]]},{"id":"a6beced9.307dd","type":"mongodb3 in","z":"909d8b07.ea42b8","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"light","operation":"insert","x":680,"y":420,"wires":[[]]},{"id":"9d17c626.5654a8","type":"function","z":"909d8b07.ea42b8","name":"Add time","func":"var timestamp = Math.round(+new Date() / 1000);\n//msg.payload[\"Date\"]= d.getTime();\nmsg.payload.Date=timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["5bddbafb.473f34"]]},{"id":"2cc08585.6346da","type":"function","z":"909d8b07.ea42b8","name":"Add time","func":"var timestamp = Math.round(+new Date() / 1000);\n//msg.payload[\"Date\"]= d.getTime();\nmsg.payload.Date=timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":420,"wires":[["a6beced9.307dd"]]},{"id":"c8cf0146.c582e","type":"mongodb3 in","z":"909d8b07.ea42b8","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"temperature","operation":"aggregate.toArray","x":390,"y":700,"wires":[["b4a99d9b.b752","d1a628fa.bbf958","5a4a6ebf.65104"]]},{"id":"d56a2e31.ba9b","type":"inject","z":"909d8b07.ea42b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["c8cf0146.c582e","cd253948.a2e0d8","6f63e763.087b78"]]},{"id":"b4a99d9b.b752","type":"function","z":"909d8b07.ea42b8","name":"temp moy zakaria","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar temp=0;\nvar count=0\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"zakaria\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n temp=temp+ msg.payload[i].value;\n count++;\n}\n}\nif ((count!==0)&&(temp!==0)){\n    var payload='{'+'\"temp\":'+temp/count+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":560,"wires":[["293c0a18.efdd06"]]},{"id":"73a51100.3c9fd","type":"mongodb3 in","z":"909d8b07.ea42b8","service":"_ext_","configNode":"d339a510.3b4d58","name":"delete database","collection":"temperature","operation":"drop","x":320,"y":840,"wires":[[]]},{"id":"db733949.844b88","type":"inject","z":"909d8b07.ea42b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"15 22 * * 0","once":false,"onceDelay":0.1,"x":130,"y":840,"wires":[["73a51100.3c9fd"]]},{"id":"cd253948.a2e0d8","type":"mongodb3 in","z":"909d8b07.ea42b8","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"light","operation":"aggregate.toArray","x":360,"y":740,"wires":[["fd39e46c.d149e8","6db5d742.92aa28","f4976bec.0e4fc8"]]},{"id":"cb60603d.95942","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"temperature","operation":"aggregate.toArray","x":430,"y":360,"wires":[["642f72d8.10095c"]]},{"id":"95fb9203.f157d","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["cb60603d.95942","e1632980.108528"]]},{"id":"e1632980.108528","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"light","operation":"aggregate.toArray","x":400,"y":440,"wires":[["67f52bc2.187704"]]},{"id":"252be347.776bec","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"eb5833e5.cf4c5","order":3,"width":"10","height":6,"gtype":"gage","title":"TEMPÉRATURE","label":"Degré","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"50","x":910,"y":360,"wires":[]},{"id":"3db72b75.3a9194","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"eb5833e5.cf4c5","order":4,"width":"10","height":6,"gtype":"gage","title":"NIVEAU DE SOLEIL","label":"Lux","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"2000","x":920,"y":440,"wires":[]},{"id":"b54c3692.e092e8","type":"http request","z":"d4a3cd7a.3534f","name":"API METEO ","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=biot&appid=146c88042f08f44a22edb9d72ad9e2c6","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":100,"wires":[["f49be337.205d4"]]},{"id":"da5d9e88.35b62","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["b54c3692.e092e8"]]},{"id":"f49be337.205d4","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":100,"wires":[]},{"id":"642f72d8.10095c","type":"function","z":"d4a3cd7a.3534f","name":"Recup temperature","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\nvar msg1 ={};\n\nvar temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"jassim\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\nmsg.temp = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["252be347.776bec","ccadf505.b76eb8"]]},{"id":"67f52bc2.187704","type":"function","z":"d4a3cd7a.3534f","name":"Recup niveau de soleil","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\n var temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"jassim\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\nmsg.soleil = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["3db72b75.3a9194","6db3c174.40b67"]]},{"id":"f984014b.97a67","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"temperature","operation":"aggregate.toArray","x":390,"y":660,"wires":[["473dbbd.25fae44"]]},{"id":"cc2f3483.f133b8","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1740","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":660,"wires":[["f984014b.97a67","1d32e652.16600a"]]},{"id":"1d32e652.16600a","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"light","operation":"aggregate.toArray","x":360,"y":760,"wires":[["e4799331.08e62"]]},{"id":"fa920857.24d208","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"4d046324.7d111c","order":3,"width":"10","height":6,"gtype":"gage","title":"TEMPÉRATURE","label":"Degré","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"50","x":810,"y":660,"wires":[]},{"id":"c151e218.ff511","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"4d046324.7d111c","order":4,"width":"10","height":6,"gtype":"gage","title":"NIVEAU DE SOLEIL","label":"Lux","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"2000","x":820,"y":760,"wires":[]},{"id":"dad09436.9335c8","type":"ui_template","z":"d4a3cd7a.3534f","group":"fe0feb3e.cbd708","name":"METEO NICE","order":1,"width":"5","height":"8","format":"<iframe src=\"https://www.meteo-nice.org/widget/prevision-meteo?wgt=normal&amp;city=22\" frameborder=\"0\" style=\"width: 250px; height: 500px;margin-left: auto;margin-right: auto;\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":160,"wires":[[]]},{"id":"473dbbd.25fae44","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\n var temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"zakaria\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["fa920857.24d208","9d0a5598.8cee08"]]},{"id":"e4799331.08e62","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\n var temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"zakaria\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":760,"wires":[["c151e218.ff511","79f7855.f22b67c"]]},{"id":"b554d847.020e88","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"temperature","operation":"aggregate.toArray","x":390,"y":1000,"wires":[["e00e375a.b90ce8"]]},{"id":"85921c85.da9b2","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1000,"wires":[["b554d847.020e88","ab51875.dcd4c78"]]},{"id":"ab51875.dcd4c78","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"light","operation":"aggregate.toArray","x":360,"y":1080,"wires":[["8e8a6424.58cdd8"]]},{"id":"826bea1b.16e708","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"dcbd50d2.d21cd","order":3,"width":"10","height":6,"gtype":"gage","title":"TEMPÉRATURE","label":"Degré","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"50","x":790,"y":1020,"wires":[]},{"id":"bc86d9ee.b2ea58","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"dcbd50d2.d21cd","order":4,"width":"10","height":6,"gtype":"gage","title":"NIVEAU DE SOLEIL","label":"Lux","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"2000","x":800,"y":1100,"wires":[]},{"id":"e00e375a.b90ce8","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\nvar temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"tonzar\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1000,"wires":[["826bea1b.16e708","f0575708.ce2cb8"]]},{"id":"8e8a6424.58cdd8","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\n var temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"tonzar\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1080,"wires":[["bc86d9ee.b2ea58","99b35f7c.91114"]]},{"id":"6ef82434.96653c","type":"ui_switch","z":"d4a3cd7a.3534f","name":"","label":"ARROSER","tooltip":"ARROSER","group":"eb5833e5.cf4c5","order":1,"width":4,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"onlamp","onvalueType":"str","onicon":"radio_button_checked","oncolor":"green","offvalue":"offlamp","offvalueType":"str","officon":"radio_button_unchecked","offcolor":"red","x":130,"y":260,"wires":[["5a9e738f.5ac80c","3054e86c.9017f8"]]},{"id":"5a9e738f.5ac80c","type":"change","z":"d4a3cd7a.3534f","name":"ARROSAGE","rules":[{"t":"change","p":"payload","pt":"msg","from":"onlamp","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"offlamp","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[["ddc779d3.64a118"]]},{"id":"ddc779d3.64a118","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"ARROSAGE","tooltip":"","group":"eb5833e5.cf4c5","order":2,"width":18,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":610,"y":280,"wires":[[]]},{"id":"293c0a18.efdd06","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":560,"wires":[["5a9ef7a1.629a88"]]},{"id":"fd39e46c.d149e8","type":"function","z":"909d8b07.ea42b8","name":"lumiere jour zakaria","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar light=0;\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"zakaria\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n light=light+ msg.payload[i].value;\n}\n}\nif (light!==0){\n    var payload='{'+'\"light\":'+light+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":600,"wires":[["88422266.6b358"]]},{"id":"88422266.6b358","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":600,"wires":[["5a9ef7a1.629a88"]]},{"id":"5a9ef7a1.629a88","type":"join","z":"909d8b07.ea42b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1930,"y":580,"wires":[["8ab667eb.3dc9f8","73de32c8.33a76c"]]},{"id":"92f3cfe.0ad713","type":"comment","z":"909d8b07.ea42b8","name":"zakaria","info":"Zakaria","x":830,"y":580,"wires":[]},{"id":"d1a628fa.bbf958","type":"function","z":"909d8b07.ea42b8","name":"temp moy jassim","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar temp=0;\nvar count=0\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"jassim\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n temp=temp+ msg.payload[i].value;\n count++;\n}\n}\nif ((count!==0)&&(temp!==0)){\n    var payload='{'+'\"temp\":'+temp/count+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":700,"wires":[["1d13a9e8.6d21f6"]]},{"id":"1d13a9e8.6d21f6","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":700,"wires":[["8d8f9281.a68df"]]},{"id":"6db5d742.92aa28","type":"function","z":"909d8b07.ea42b8","name":"lumiere jour jassim","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar light=0;\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"jassim\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n light=light+ msg.payload[i].value;\n}\n}\nif (light!==0){\n    var payload='{'+'\"light\":'+light+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":740,"wires":[["a0a02da0.6c366"]]},{"id":"a0a02da0.6c366","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":740,"wires":[["8d8f9281.a68df"]]},{"id":"8d8f9281.a68df","type":"join","z":"909d8b07.ea42b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1930,"y":760,"wires":[["ae94fe48.8697a","1b9f9e49.4cb882"]]},{"id":"b80c9b2a.8e58d8","type":"comment","z":"909d8b07.ea42b8","name":"jassim","info":"Zakaria","x":830,"y":720,"wires":[]},{"id":"5a4a6ebf.65104","type":"function","z":"909d8b07.ea42b8","name":"temp moy tonzar","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar temp=0;\nvar count=0\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"tonzar\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n temp=temp+ msg.payload[i].value;\n count++;\n}\n}\nif ((count!==0)&&(temp!==0)){\n    var payload='{'+'\"temp\":'+temp/count+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["58dc7797.a83da8"]]},{"id":"58dc7797.a83da8","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":820,"wires":[["1f6abdfd.2ae4c2"]]},{"id":"f4976bec.0e4fc8","type":"function","z":"909d8b07.ea42b8","name":"lumiere jour tonzar","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar light=0;\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"tonzar\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n light=light+ msg.payload[i].value;\n}\n}\nif (light!==0){\n    var payload='{'+'\"light\":'+light+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":860,"wires":[["15d88174.11bd9f"]]},{"id":"15d88174.11bd9f","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":860,"wires":[["1f6abdfd.2ae4c2"]]},{"id":"1f6abdfd.2ae4c2","type":"join","z":"909d8b07.ea42b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1930,"y":880,"wires":[["f861d033.8ab1","96bb980c.a4aa08"]]},{"id":"6068f6d6.553508","type":"comment","z":"909d8b07.ea42b8","name":"tonzar","info":"Zakaria","x":830,"y":840,"wires":[]},{"id":"6f63e763.087b78","type":"http request","z":"909d8b07.ea42b8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.infoclimat.fr/public-api/gfs/json?_ll=48.85341,2.3488&_auth=U0leSQd5UnBSf1FmUCYCK1M7UmddKwIlBnoKaQFkB3oGbQVkUTFVMwJsVShSfQI0UXxTMA80AjIAawF5CnhVNFM5XjIHbFI1Uj1RNFB%2FAilTfVIzXX0CJQZhCmsBcgdlBmwFYlEsVTECalUpUmACKVF9UzIPNQIyAGsBZQpkVTNTNF4%2BB2VSL1IiUTZQNQJnUzNSM11hAj8GZAo%2FAW8HNwY3BWJRMVUpAm1VP1JqAjdRY1MyDzgCOQB8AXkKHlVFUy1eegcmUmVSe1EuUDUCaFM0&_c=9bf5e790084f63e6e0ebae8e4f00be62","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":780,"wires":[["a48b19b0.dcc018"]]},{"id":"a48b19b0.dcc018","type":"function","z":"909d8b07.ea42b8","name":"rainfall","func":"var today = new Date();\nvar dd = today.getDate();\nvar mm = today.getMonth()+1; \nvar yyyy = today.getFullYear();\nif(dd<10) \n{\n    dd='0'+dd;\n} \nif(mm<10) \n{\n    mm='0'+mm;\n} \ntoday = yyyy+'-'+mm+'-'+dd;\n\nvar json = JSON.parse(JSON.stringify(msg.payload));\n\n//var pluie1 = json[\"\"+today+\" 02:00:00\"].pluie;\n//var pluie2 = json[\"\"+today+\" 05:00:00\"].pluie;\n//var pluie3 = json[\"\"+today+\" 08:00:00\"].pluie;\n//var pluie4 = json[\"\"+today+\" 11:00:00\"].pluie\n//var pluie5 = json[\"\"+today+\" 14:00:00\"].pluie;\n//var pluie6 = json[\"\"+today+\" 17:00:00\"].pluie;\n//var pluie7 = json[\"\"+today+\" 20:00:00\"].pluie;\n//var pluie8 = json[\"\"+today+\" 23:00:00\"].pluie;\n\n\nvar pluie1=0;\nif (today+\" 02:00:00\" in json) {\n   pluie1 = json[\"\"+today+\" 02:00:00\"].pluie;\n  }\nelse\n  {\n    pluie1=0;\n  }\n\nvar pluie2=0;\nif (today+\" 05:00:00\" in json) {\n   pluie2 = json[\"\"+today+\" 05:00:00\"].pluie;\n  }\nelse\n  {\n    pluie2=0;\n  }\n\n  var pluie3=0;\nif (today+\" 08:00:00\" in json) {\n   pluie3 = json[\"\"+today+\" 08:00:00\"].pluie;\n  }\nelse\n  {\n    pluie3=0;\n  }\n\n  var pluie4=0;\nif (today+\" 11:00:00\" in json) {\n   pluie4 = json[\"\"+today+\" 11:00:00\"].pluie;\n  }\nelse\n  {\n    pluie4=0;\n  }\n\n    var pluie5=0;\nif (today+\" 14:00:00\" in json) {\n   pluie5 = json[\"\"+today+\" 14:00:00\"].pluie;\n  }\nelse\n  {\n    pluie5=0;\n  }\n\nvar pluie6=0;\nif (today+\" 17:00:00\" in json) {\n   pluie6 = json[\"\"+today+\" 17:00:00\"].pluie;\n  }\nelse\n  {\n    pluie6=0;\n  }\n\nvar pluie7=0;\nif (today+\" 20:00:00\" in json) {\n   pluie7 = json[\"\"+today+\" 20:00:00\"].pluie;\n  }\nelse\n  {\n    pluie7=0;\n  }\n\nvar pluie8=0;\nif (today+\" 23:00:00\" in json) {\n   pluie8 = json[\"\"+today+\" 23:00:00\"].pluie;\n  }\nelse\n  {\n    pluie8=0;\n  }\n\n\nvar quantitePluieJour = pluie1+ pluie2 + pluie3 +pluie4 +pluie5 +pluie6 +pluie7 +pluie8;\n\nvar pl= Math.round(quantitePluieJour*100)/100;\nvar pluief='{'+'\"rain\":'+pl+'}';\nmsg.payload=JSON.parse(pluief);\n//msg.payload = today;\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":700,"wires":[["5a9ef7a1.629a88","8d8f9281.a68df","1f6abdfd.2ae4c2"]]},{"id":"8ab667eb.3dc9f8","type":"switch","z":"909d8b07.ea42b8","name":"rain [5,10]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"10","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2120,"y":580,"wires":[["74d8511b.c5ab8","bf346b1c.ad42f8"]]},{"id":"73de32c8.33a76c","type":"switch","z":"909d8b07.ea42b8","name":"rain[0,5]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"5","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2120,"y":620,"wires":[["526301ee.a20ac","72cd347b.968ddc"]]},{"id":"74d8511b.c5ab8","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2500,"y":480,"wires":[["942d0539.727f78","2d02c10d.012b9e"]]},{"id":"bf346b1c.ad42f8","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2500,"y":540,"wires":[["969b6a1e.4d15a8","810be3df.616c5"]]},{"id":"942d0539.727f78","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":440,"wires":[["2b5a883.b783778","df73d809.efe2b8"]]},{"id":"2d02c10d.012b9e","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":480,"wires":[["2b5a883.b783778","16cce276.b9ab0e"]]},{"id":"969b6a1e.4d15a8","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":520,"wires":[["2b5a883.b783778","bcda06b2.bca6a8"]]},{"id":"810be3df.616c5","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":560,"wires":[["2b5a883.b783778","9a923261.6e74d"]]},{"id":"526301ee.a20ac","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2500,"y":640,"wires":[["97a22f6e.80733","a5f6aa81.8d8f58"]]},{"id":"72cd347b.968ddc","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2500,"y":700,"wires":[["b5df7b0f.61f048","fe563fdd.01769"]]},{"id":"97a22f6e.80733","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":600,"wires":[["2b5a883.b783778","bcda06b2.bca6a8"]]},{"id":"a5f6aa81.8d8f58","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":640,"wires":[["2b5a883.b783778","9a923261.6e74d"]]},{"id":"b5df7b0f.61f048","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":680,"wires":[["2b5a883.b783778","a01b6810.0623f8"]]},{"id":"fe563fdd.01769","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":720,"wires":[["2b5a883.b783778","df73d809.efe2b8"]]},{"id":"d67e57ca.7456f8","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback/zakaria","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":3260,"y":480,"wires":[]},{"id":"2b5a883.b783778","type":"function","z":"909d8b07.ea42b8","name":"On","func":"msg.payload=\"onlamp\";\nreturn msg;","outputs":1,"noerr":0,"x":2890,"y":400,"wires":[["d67e57ca.7456f8"]]},{"id":"df73d809.efe2b8","type":"function","z":"909d8b07.ea42b8","name":"off 4 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 240000);\n","outputs":1,"noerr":0,"x":3040,"y":440,"wires":[["d67e57ca.7456f8"]]},{"id":"16cce276.b9ab0e","type":"function","z":"909d8b07.ea42b8","name":"off 2 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 120000);\n","outputs":1,"noerr":0,"x":3040,"y":480,"wires":[["d67e57ca.7456f8"]]},{"id":"bcda06b2.bca6a8","type":"function","z":"909d8b07.ea42b8","name":"off 5 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 300000);\n","outputs":1,"noerr":0,"x":3040,"y":520,"wires":[["d67e57ca.7456f8"]]},{"id":"9a923261.6e74d","type":"function","z":"909d8b07.ea42b8","name":"off 3 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 180000);\n","outputs":1,"noerr":0,"x":3040,"y":560,"wires":[["d67e57ca.7456f8"]]},{"id":"a01b6810.0623f8","type":"function","z":"909d8b07.ea42b8","name":"off 6 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 360000);\n","outputs":1,"noerr":0,"x":3040,"y":620,"wires":[["d67e57ca.7456f8"]]},{"id":"ae94fe48.8697a","type":"switch","z":"909d8b07.ea42b8","name":"rain [5,10]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"10","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2140,"y":740,"wires":[["3939871e.b4f2a8","489840d5.33f97"]]},{"id":"1b9f9e49.4cb882","type":"switch","z":"909d8b07.ea42b8","name":"rain[0,5]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"5","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2140,"y":780,"wires":[["cb0886c4.613aa8","95714e8c.19c4d"]]},{"id":"3939871e.b4f2a8","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2540,"y":860,"wires":[["f156ab01.fd5168","36167d20.7b7da2"]]},{"id":"489840d5.33f97","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2540,"y":920,"wires":[["b2b0c8ec.2e49e8","1bae3b3e.f5eb25"]]},{"id":"f156ab01.fd5168","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":820,"wires":[["a8da3a72.52c028","8ff90631.2e19c8"]]},{"id":"36167d20.7b7da2","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":860,"wires":[["a8da3a72.52c028","f5aa77a5.1d0628"]]},{"id":"b2b0c8ec.2e49e8","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":900,"wires":[["a8da3a72.52c028","f186b317.ba787"]]},{"id":"1bae3b3e.f5eb25","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":940,"wires":[["a8da3a72.52c028","8e04d114.c22a4"]]},{"id":"cb0886c4.613aa8","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2540,"y":1020,"wires":[["9c6b6184.88a24","92253336.ec0bf"]]},{"id":"95714e8c.19c4d","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2540,"y":1080,"wires":[["fa3981e8.f56f3","af5bc18e.df33"]]},{"id":"9c6b6184.88a24","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":980,"wires":[["a8da3a72.52c028","f186b317.ba787"]]},{"id":"92253336.ec0bf","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":1020,"wires":[["a8da3a72.52c028","8e04d114.c22a4"]]},{"id":"fa3981e8.f56f3","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":1060,"wires":[["a8da3a72.52c028","b9ffd78d.4114f8"]]},{"id":"af5bc18e.df33","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":1100,"wires":[["a8da3a72.52c028","8ff90631.2e19c8"]]},{"id":"3f7c7ed4.fcabd2","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback/jassim","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":3300,"y":860,"wires":[]},{"id":"a8da3a72.52c028","type":"function","z":"909d8b07.ea42b8","name":"On","func":"msg.payload=\"onlamp\";\nreturn msg;","outputs":1,"noerr":0,"x":3070,"y":760,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"8ff90631.2e19c8","type":"function","z":"909d8b07.ea42b8","name":"off 4 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 240000);\n","outputs":1,"noerr":0,"x":3080,"y":820,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"f5aa77a5.1d0628","type":"function","z":"909d8b07.ea42b8","name":"off 2 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 120000);\n","outputs":1,"noerr":0,"x":3080,"y":860,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"f186b317.ba787","type":"function","z":"909d8b07.ea42b8","name":"off 5 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 300000);\n","outputs":1,"noerr":0,"x":3080,"y":900,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"8e04d114.c22a4","type":"function","z":"909d8b07.ea42b8","name":"off 3 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 180000);\n","outputs":1,"noerr":0,"x":3080,"y":940,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"b9ffd78d.4114f8","type":"function","z":"909d8b07.ea42b8","name":"off 6 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 360000);\n","outputs":1,"noerr":0,"x":3080,"y":1000,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"f861d033.8ab1","type":"switch","z":"909d8b07.ea42b8","name":"rain [5,10]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"10","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2140,"y":880,"wires":[["6ebaea01.526ff4","78917101.a86cb"]]},{"id":"96bb980c.a4aa08","type":"switch","z":"909d8b07.ea42b8","name":"rain[0,5]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"5","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2140,"y":920,"wires":[["4c3a848e.d56c7c","e5a13925.ce8418"]]},{"id":"6ebaea01.526ff4","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2560,"y":1220,"wires":[["720356c8.df8a28","5e2dd6aa.21ba88"]]},{"id":"78917101.a86cb","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2560,"y":1280,"wires":[["306bc639.5a34ea","3b4194aa.d4248c"]]},{"id":"720356c8.df8a28","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1180,"wires":[["76070b6c.cd2b24","7610143a.aa370c"]]},{"id":"5e2dd6aa.21ba88","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1220,"wires":[["76070b6c.cd2b24","abbcf757.ac1328"]]},{"id":"306bc639.5a34ea","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1260,"wires":[["76070b6c.cd2b24","9b5e7c8e.4a83b"]]},{"id":"3b4194aa.d4248c","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1300,"wires":[["76070b6c.cd2b24","1ea5e65d.7045ba"]]},{"id":"4c3a848e.d56c7c","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2560,"y":1380,"wires":[["e1475891.d81c38","2f3e5458.8130fc"]]},{"id":"e5a13925.ce8418","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2560,"y":1440,"wires":[["6ee15b41.c18004","dd21fb3a.2087b8"]]},{"id":"e1475891.d81c38","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1340,"wires":[["76070b6c.cd2b24","9b5e7c8e.4a83b"]]},{"id":"2f3e5458.8130fc","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1380,"wires":[["76070b6c.cd2b24","1ea5e65d.7045ba"]]},{"id":"6ee15b41.c18004","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1420,"wires":[["76070b6c.cd2b24","f6a42ae6.c94168"]]},{"id":"dd21fb3a.2087b8","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1460,"wires":[["76070b6c.cd2b24","7610143a.aa370c"]]},{"id":"1d07095e.72dad7","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback/tonzar","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":3320,"y":1220,"wires":[]},{"id":"76070b6c.cd2b24","type":"function","z":"909d8b07.ea42b8","name":"On","func":"msg.payload=\"onlamp\";\nreturn msg;","outputs":1,"noerr":0,"x":3090,"y":1120,"wires":[["1d07095e.72dad7"]]},{"id":"7610143a.aa370c","type":"function","z":"909d8b07.ea42b8","name":"off 4 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 240000);\n","outputs":1,"noerr":0,"x":3100,"y":1180,"wires":[["1d07095e.72dad7"]]},{"id":"abbcf757.ac1328","type":"function","z":"909d8b07.ea42b8","name":"off 2 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 120000);\n","outputs":1,"noerr":0,"x":3100,"y":1220,"wires":[["1d07095e.72dad7"]]},{"id":"9b5e7c8e.4a83b","type":"function","z":"909d8b07.ea42b8","name":"off 5 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 300000);\n","outputs":1,"noerr":0,"x":3100,"y":1260,"wires":[["1d07095e.72dad7"]]},{"id":"1ea5e65d.7045ba","type":"function","z":"909d8b07.ea42b8","name":"off 3 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 180000);\n","outputs":1,"noerr":0,"x":3100,"y":1300,"wires":[["1d07095e.72dad7"]]},{"id":"f6a42ae6.c94168","type":"function","z":"909d8b07.ea42b8","name":"off 6 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 360000);\n","outputs":1,"noerr":0,"x":3100,"y":1360,"wires":[["1d07095e.72dad7"]]},{"id":"d5c821a0.10d98","type":"bigtimer","z":"d4a3cd7a.3534f","outtopic":"","outpayload1":"","outpayload2":"","name":"Début/Fin du jour","comment":"","lat":"43.700000","lon":"7.250000","starttime":"5003","endtime":"5004","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":"0","outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":290,"y":1260,"wires":[["1ae66d07.03e6d3","65085386.9c9c8c"],["7ac8b594.d2c64c","98208970.daf458","df065670.2ce558"],[]]},{"id":"8bff854f.f3e8c8","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"Sync","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132,"y":1266,"wires":[["d5c821a0.10d98"]]},{"id":"b42ca5d4.822fc8","type":"inject","z":"d4a3cd7a.3534f","name":"Toggle","topic":"","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131,"y":1299,"wires":[["d5c821a0.10d98"]]},{"id":"3d50a605.c9e20a","type":"inject","z":"d4a3cd7a.3534f","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132,"y":1335,"wires":[["d5c821a0.10d98"]]},{"id":"e2763cd6.32812","type":"inject","z":"d4a3cd7a.3534f","name":"Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1370,"wires":[["d5c821a0.10d98"]]},{"id":"c6e70e33.bd0f8","type":"inject","z":"d4a3cd7a.3534f","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1410,"wires":[["d5c821a0.10d98"]]},{"id":"60b56688.e7d6b8","type":"split","z":"d4a3cd7a.3534f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":1400,"wires":[["fb1708ba.8f4f58"]]},{"id":"fb1708ba.8f4f58","type":"string","z":"d4a3cd7a.3534f","name":"","methods":[{"name":"trimRight","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":470,"y":1440,"wires":[["4511409b.8dcf6"]]},{"id":"ce1ac0ab.a3ac2","type":"split","z":"d4a3cd7a.3534f","name":"","splt":"#","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":1520,"wires":[["dc73f3d3.1fcef"]]},{"id":"dc73f3d3.1fcef","type":"switch","z":"d4a3cd7a.3534f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Sunrise","vt":"str"},{"t":"cont","v":"Sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1560,"wires":[["53cfd883.f9f618"],["e321f2d9.581a9"]]},{"id":"53cfd883.f9f618","type":"string","z":"d4a3cd7a.3534f","name":"","methods":[{"name":"delLeftMost","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":610,"y":1540,"wires":[["1219a4e5.5c7f1b"]]},{"id":"e321f2d9.581a9","type":"string","z":"d4a3cd7a.3534f","name":"","methods":[{"name":"delLeftMost","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":610,"y":1580,"wires":[["cb78b587.437778"]]},{"id":"7ac8b594.d2c64c","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":1260,"wires":[]},{"id":"1ae66d07.03e6d3","type":"ui_switch","z":"d4a3cd7a.3534f","name":"","label":"Jour/Nuit","tooltip":"","group":"f97d0a3f.69f348","order":1,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"SUNRISE","onvalueType":"str","onicon":"fa-sun-o fa-2x","oncolor":"yellow","offvalue":"SUNSET","offvalueType":"str","officon":"fa-moon-o fa-2x","offcolor":"black","x":580,"y":1320,"wires":[[]]},{"id":"1219a4e5.5c7f1b","type":"ui_text","z":"d4a3cd7a.3534f","group":"f97d0a3f.69f348","order":2,"width":5,"height":1,"name":"Lever","label":"Lever du soleil","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":1540,"wires":[]},{"id":"cb78b587.437778","type":"ui_text","z":"d4a3cd7a.3534f","group":"f97d0a3f.69f348","order":3,"width":5,"height":1,"name":"Coucher","label":"Coucher du soleil","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":1580,"wires":[]},{"id":"6d706768.b4c4a8","type":"ui_template","z":"d4a3cd7a.3534f","group":"f97d0a3f.69f348","name":"Load CSS","order":5,"width":0,"height":0,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<style>\n .nr-dashboard-theme {\n \tbackground-color: #222;\n \toutline: 1px solid #cccccc;\n \t }\n</style>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":910,"y":1560,"wires":[[]]},{"id":"65085386.9c9c8c","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":1200,"wires":[]},{"id":"4511409b.8dcf6","type":"switch","z":"d4a3cd7a.3534f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Sunrise","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1480,"wires":[["ce1ac0ab.a3ac2"],[]]},{"id":"98208970.daf458","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//  var sunrise_H = parseInt(msg.sunrise / 60);\n\nvar ttg = msg.duration;\nvar hr = parseInt(ttg / 60);\nvar min = (ttg % 60);\nmsg.payload = hr;\nmsg.payload += \" h \";\nif (min < 10)\n{\n   msg.payload += 0;\n}\nmsg.payload += min;\nmsg.payload += \" m\";\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1260,"wires":[["7f235944.a6d8c8"]]},{"id":"7f235944.a6d8c8","type":"ui_text","z":"d4a3cd7a.3534f","group":"f97d0a3f.69f348","order":4,"width":"5","height":"8","name":"Meteo (Prochain événement en)","label":"Prochain événement en","format":"{{msg.payload}}","layout":"row-center","x":910,"y":1260,"wires":[]},{"id":"df065670.2ce558","type":"function","z":"d4a3cd7a.3534f","name":"Build message","func":"//  zeroPad(5, 2);\nvar sunrise_H = parseInt(msg.sunrise / 60)+2;\nvar sunrise_M = msg.sunrise % 60;\nvar sunset_H = parseInt(msg.sunset / 60)+2;\nvar sunset_M = msg.sunset % 60;\nmsg.payload = \"Sunrise \";\nif (sunrise_H < 10)\n{\n    msg.payload += 0;\n}\nmsg.payload += sunrise_H;\n//msg.payload = sunrise_H;\nmsg.payload += \":\";\nif (sunrise_M < 10)\n{\n   msg.payload += 0;\n}\nmsg.payload += sunrise_M;\n\nmsg.payload += \"#Sunset \";\nmsg.payload += sunset_H;\n//msg.payload = \"#\";\n//msg.payload += sunset_H;\nmsg.payload += \":\";\nif (sunset_M < 10)\n{\n   msg.payload += 0;\n}\nmsg.payload += sunset_M;\nmsg.payload += \" \\r\\n \";\nmsg.payload += msg.state;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1360,"wires":[["60b56688.e7d6b8"]]},{"id":"ccadf505.b76eb8","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"eb5833e5.cf4c5","order":5,"width":"10","height":"6","label":"Température","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff8080","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":320,"wires":[[]]},{"id":"6db3c174.40b67","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"eb5833e5.cf4c5","order":6,"width":"10","height":"6","label":"Niveau de soleil","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":400,"wires":[[]]},{"id":"3054e86c.9017f8","type":"mqtt out","z":"d4a3cd7a.3534f","name":"","topic":"callback/jassim","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":360,"y":220,"wires":[]},{"id":"a9986f5c.19e35","type":"ui_switch","z":"d4a3cd7a.3534f","name":"","label":"ARROSER","tooltip":"ARROSER","group":"4d046324.7d111c","order":1,"width":4,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"onlamp","onvalueType":"str","onicon":"radio_button_checked","oncolor":"green","offvalue":"offlamp","offvalueType":"str","officon":"radio_button_unchecked","offcolor":"red","x":130,"y":600,"wires":[["8118a7db.2308c8","3f6b7e3a.f14042"]]},{"id":"8118a7db.2308c8","type":"change","z":"d4a3cd7a.3534f","name":"ARROSAGE","rules":[{"t":"change","p":"payload","pt":"msg","from":"onlamp","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"offlamp","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":620,"wires":[["a36b9d18.33184"]]},{"id":"a36b9d18.33184","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"ARROSAGE","tooltip":"","group":"4d046324.7d111c","order":2,"width":18,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":610,"y":600,"wires":[[]]},{"id":"3f6b7e3a.f14042","type":"mqtt out","z":"d4a3cd7a.3534f","name":"","topic":"callback/zakaria","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":360,"y":560,"wires":[]},{"id":"9d0a5598.8cee08","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"4d046324.7d111c","order":5,"width":"10","height":"6","label":"Température","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff8080","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":620,"wires":[[]]},{"id":"79f7855.f22b67c","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"4d046324.7d111c","order":6,"width":"10","height":"6","label":"Niveau de soleil","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":720,"wires":[[]]},{"id":"d59f730.8bd559","type":"ui_switch","z":"d4a3cd7a.3534f","name":"","label":"ARROSER","tooltip":"ARROSER","group":"dcbd50d2.d21cd","order":1,"width":4,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"onlamp","onvalueType":"str","onicon":"radio_button_checked","oncolor":"green","offvalue":"offlamp","offvalueType":"str","officon":"radio_button_unchecked","offcolor":"red","x":130,"y":920,"wires":[["779fc0fb.3af6","d7c89cba.4d6f9"]]},{"id":"779fc0fb.3af6","type":"change","z":"d4a3cd7a.3534f","name":"ARROSAGE","rules":[{"t":"change","p":"payload","pt":"msg","from":"onlamp","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"offlamp","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":940,"wires":[["fd45850f.09d9b8"]]},{"id":"fd45850f.09d9b8","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"ARROSAGE","tooltip":"","group":"dcbd50d2.d21cd","order":2,"width":18,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":610,"y":920,"wires":[[]]},{"id":"d7c89cba.4d6f9","type":"mqtt out","z":"d4a3cd7a.3534f","name":"","topic":"callback/tonzar","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":360,"y":880,"wires":[]},{"id":"f0575708.ce2cb8","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"dcbd50d2.d21cd","order":5,"width":"10","height":"6","label":"Température","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff8080","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":980,"wires":[[]]},{"id":"99b35f7c.91114","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"dcbd50d2.d21cd","order":6,"width":"10","height":"6","label":"Niveau de soleil","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffff00","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":1060,"wires":[[]]},{"id":"28a0f7c6.b9c888","type":"ui_template","z":"d4a3cd7a.3534f","group":"d42e224d.14746","name":"Maps","order":1,"width":"12","height":"8","format":"<iframe style=\"margin-left: auto;margin-right: auto;border: none;box-shadow: 1px 1px 3px black; margin: 0 2em 2em 0;width:600px; height:550px;\" src=\"http://www.openstreetmap.org/export/embed.html?bbox=7.074902%2C43.618654%2C7.073609%2C43.619289&amp;layer=mapnik\"> </iframe>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":330,"y":160,"wires":[[]]}]