NODE-RED FLOWS/Partie graphique-V3.json
[{"id":"d4a3cd7a.3534f","type":"tab","label":"Partie graphique","disabled":false,"info":""},{"id":"ba92910a.04211","type":"ui_button","z":"d4a3cd7a.3534f","name":"Boutton","group":"ace735a6.64bb48","order":1,"width":0,"height":0,"passthru":false,"label":"Boutton","tooltip":"","color":"#fffff","bgcolor":"","icon":"fa-star","payload":"true","payloadType":"bool","topic":"Button","x":140,"y":40,"wires":[[]]},{"id":"35373dac.2e23e2","type":"ui_dropdown","z":"d4a3cd7a.3534f","name":"Liste de choix","label":"Choisissez ce que vous voulez","group":"ace735a6.64bb48","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Choix 1 : chaine","value":"Choix1","type":"str"},{"label":"Choix 2 : numérique","value":4,"type":"num"},{"label":"Choix 3 : bool","value":true,"type":"bool"}],"payload":"","topic":"Liste de choix","x":160,"y":80,"wires":[[]]},{"id":"b1f2f3c7.0b0ef","type":"ui_switch","z":"d4a3cd7a.3534f","name":"Interrupteur","label":"switch","group":"ace735a6.64bb48","order":3,"width":0,"height":0,"passthru":true,"topic":"Interrupteur","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":140,"wires":[[]]},{"id":"ce4f93ea.c356d","type":"ui_numeric","z":"d4a3cd7a.3534f","name":"","label":"numeric","group":"ace735a6.64bb48","order":4,"width":0,"height":0,"passthru":true,"topic":"Numérique","format":"{{value}}","min":0,"max":10,"x":140,"y":180,"wires":[[]]},{"id":"fdc2431d.95e","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"Champ saisie de Texte","group":"ace735a6.64bb48","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Champ saisie de Texte","x":180,"y":260,"wires":[[]]},{"id":"bf56844c.109d38","type":"ui_form","z":"d4a3cd7a.3534f","name":"","label":"Se connecter","group":"9340858a.dcbbf8","order":1,"width":0,"height":0,"options":[{"label":"Nom complet","value":"Texte","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":false,"rows":null},{"label":"Mot de passe","value":"Mot de passe","type":"password","required":false,"rows":null},{"label":"Cochez moi","value":"Case à cocher","type":"checkbox","required":false,"rows":null}],"formValue":{"Texte":"","email":"","Mot de passe":"","Case à cocher":false},"payload":"","submit":"Envoyer","cancel":"Quitter","topic":"Formulaire","x":150,"y":380,"wires":[[]]},{"id":"b0e49eef.4b762","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"Champ saisie email","group":"ace735a6.64bb48","order":6,"width":0,"height":0,"passthru":true,"mode":"email","delay":300,"topic":"Champ saisie email","x":170,"y":220,"wires":[[]]},{"id":"5ea54451.8a20cc","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"Champ saisie mot de passe","group":"ace735a6.64bb48","order":7,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"Champ saisie mot de passe","x":200,"y":300,"wires":[[]]},{"id":"75eb6937.df9e08","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"Sélecteur de couleur","group":"ace735a6.64bb48","order":8,"width":0,"height":0,"passthru":true,"mode":"color","delay":300,"topic":"Sélecteur de couleur","x":180,"y":340,"wires":[[]]},{"id":"c0890fe.7d5d3f","type":"ui_button","z":"d4a3cd7a.3534f","name":"","group":"f9054861.f9dd38","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Salam Alaikom","payloadType":"str","topic":"","x":410,"y":60,"wires":[["ea86bf27.745a4","752163d6.ab6bbc"]]},{"id":"752163d6.ab6bbc","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":100,"wires":[]},{"id":"ea86bf27.745a4","type":"ui_text","z":"d4a3cd7a.3534f","group":"f9054861.f9dd38","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":40,"wires":[]},{"id":"5a2bef01.08bd2","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"dac5d7d0.1daed8","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"150","x":630,"y":180,"wires":[]},{"id":"5b68d668.8a35d8","type":"ui_slider","z":"d4a3cd7a.3534f","name":"","label":"slider","tooltip":"","group":"dac5d7d0.1daed8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"200","step":1,"x":410,"y":180,"wires":[["5a2bef01.08bd2","7ea56d00.4e04e4","c90ac7d9.c5d4a8"]]},{"id":"7ea56d00.4e04e4","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"dac5d7d0.1daed8","order":3,"width":4,"height":3,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":240,"wires":[[]]},{"id":"c90ac7d9.c5d4a8","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"dac5d7d0.1daed8","order":4,"width":2,"height":3,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":300,"wires":[[]]},{"id":"d5690626.811fa8","type":"change","z":"d4a3cd7a.3534f","name":"ARROSAGE","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":540,"wires":[[]]},{"id":"770e0ecb.bb49c","type":"change","z":"d4a3cd7a.3534f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":600,"wires":[[]]},{"id":"a92724ae.b892a8","type":"ui_button","z":"d4a3cd7a.3534f","name":"","group":"262f586.a875ea8","order":1,"width":0,"height":0,"passthru":false,"label":"ON/OFF","tooltip":"","color":"","bgcolor":"","icon":"<i class=\"fas fa-power-off\"></i>","payload":"","payloadType":"str","topic":"","x":140,"y":600,"wires":[["770e0ecb.bb49c"]]},{"id":"cb60603d.95942","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"temperature","operation":"aggregate.toArray","x":390,"y":820,"wires":[["642f72d8.10095c"]]},{"id":"95fb9203.f157d","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":820,"wires":[["cb60603d.95942"]]},{"id":"e1632980.108528","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"light","operation":"aggregate.toArray","x":360,"y":900,"wires":[["67f52bc2.187704"]]},{"id":"252be347.776bec","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"eb5833e5.cf4c5","order":3,"width":7,"height":6,"gtype":"gage","title":"Température","label":"Degré","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"50","x":770,"y":840,"wires":[]},{"id":"5a5771bc.6a20c","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":920,"wires":[]},{"id":"3db72b75.3a9194","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"eb5833e5.cf4c5","order":5,"width":7,"height":6,"gtype":"gage","title":"NIVEAU DE SOLEIL","label":"","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"2000","x":800,"y":880,"wires":[]},{"id":"f6c3aa11.18b5f8","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":900,"wires":[["e1632980.108528"]]},{"id":"b54c3692.e092e8","type":"http request","z":"d4a3cd7a.3534f","name":"API METEO ","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=biot&appid=146c88042f08f44a22edb9d72ad9e2c6","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":660,"wires":[["f49be337.205d4"]]},{"id":"da5d9e88.35b62","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":660,"wires":[["b54c3692.e092e8"]]},{"id":"f49be337.205d4","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":660,"wires":[]},{"id":"56d52342.5250cc","type":"ui_template","z":"d4a3cd7a.3534f","d":true,"group":"eb5833e5.cf4c5","name":"","order":4,"width":7,"height":5,"format":"<iframe src=\"https://www.meteo-nice.org/widget/prevision-meteo?wgt=full&amp;city=22\" frameborder=\"0\" style=\"width: 340px; height: 247px;\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":860,"wires":[[]]},{"id":"642f72d8.10095c","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\n var temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"jassim\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":820,"wires":[["252be347.776bec","8ea7fb7a.285568"]]},{"id":"8ea7fb7a.285568","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":780,"wires":[]},{"id":"67f52bc2.187704","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\n var temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"jassim\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":900,"wires":[["3db72b75.3a9194","5a5771bc.6a20c"]]},{"id":"f984014b.97a67","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"temperature","operation":"aggregate.toArray","x":390,"y":1100,"wires":[["473dbbd.25fae44"]]},{"id":"cc2f3483.f133b8","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1740","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1100,"wires":[["f984014b.97a67"]]},{"id":"1d32e652.16600a","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"light","operation":"aggregate.toArray","x":360,"y":1180,"wires":[["e4799331.08e62"]]},{"id":"fa920857.24d208","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"4d046324.7d111c","order":3,"width":7,"height":6,"gtype":"gage","title":"Température","label":"Degré","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"50","x":770,"y":1120,"wires":[]},{"id":"37a3dda0.cedcb2","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1200,"wires":[]},{"id":"c151e218.ff511","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"4d046324.7d111c","order":4,"width":7,"height":6,"gtype":"gage","title":"NIVEAU DE SOLEIL","label":"","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"2000","x":800,"y":1160,"wires":[]},{"id":"b615ed.87ec1a1","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1180,"wires":[["1d32e652.16600a"]]},{"id":"dad09436.9335c8","type":"ui_template","z":"d4a3cd7a.3534f","group":"fe0feb3e.cbd708","name":"METEO NICE","order":1,"width":10,"height":5,"format":"<iframe src=\"https://www.meteo-nice.org/widget/prevision-meteo?city=22\" frameborder=\"0\" style=\"width:340px; height: 250px;margin-left: auto; margin-right: auto;\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":720,"wires":[[]]},{"id":"473dbbd.25fae44","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\n var temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"zakaria\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1100,"wires":[["787cd94e.477648","fa920857.24d208"]]},{"id":"787cd94e.477648","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":1060,"wires":[]},{"id":"e4799331.08e62","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\n var temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"zakaria\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1180,"wires":[["c151e218.ff511","37a3dda0.cedcb2"]]},{"id":"b554d847.020e88","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"temperature","operation":"aggregate.toArray","x":390,"y":1320,"wires":[["e00e375a.b90ce8"]]},{"id":"85921c85.da9b2","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1320,"wires":[["b554d847.020e88"]]},{"id":"ab51875.dcd4c78","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"light","operation":"aggregate.toArray","x":360,"y":1400,"wires":[["8e8a6424.58cdd8"]]},{"id":"826bea1b.16e708","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"dcbd50d2.d21cd","order":3,"width":7,"height":6,"gtype":"gage","title":"Température","label":"Degré","format":"{{msg.payload}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"50","x":770,"y":1340,"wires":[]},{"id":"c9daae82.3e569","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1420,"wires":[]},{"id":"bc86d9ee.b2ea58","type":"ui_gauge","z":"d4a3cd7a.3534f","name":"","group":"dcbd50d2.d21cd","order":5,"width":7,"height":6,"gtype":"gage","title":"NIVEAU DE SOLEIL","label":"","format":"{{msg.payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"2000","x":800,"y":1380,"wires":[]},{"id":"aecd0db7.73b3a","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1400,"wires":[["ab51875.dcd4c78"]]},{"id":"e38f91e3.a509d","type":"ui_template","z":"d4a3cd7a.3534f","d":true,"group":"dcbd50d2.d21cd","name":"","order":4,"width":7,"height":5,"format":"<iframe src=\"https://www.meteo-nice.org/widget/prevision-meteo?wgt=full&amp;city=22\" frameborder=\"0\" style=\"width: 340px; height: 247px;\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":1360,"wires":[[]]},{"id":"e00e375a.b90ce8","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\nvar temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"tonzar\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1320,"wires":[["826bea1b.16e708","7f77b0fa.6cb7c"]]},{"id":"7f77b0fa.6cb7c","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":1280,"wires":[]},{"id":"8e8a6424.58cdd8","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//let lenJSON = Object.keys(msg.payload).length-1;\nlet lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\n var temp=0;\nfor (let i = 0; i < lenJSON; i++) {\nif ((msg.payload[i].field==\"tonzar\")){\n\n temp=msg.payload[i].value;\n}\n}\n\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1400,"wires":[["bc86d9ee.b2ea58","c9daae82.3e569"]]},{"id":"6ef82434.96653c","type":"ui_switch","z":"d4a3cd7a.3534f","name":"","label":"ARROSER","tooltip":"ARROSER","group":"eb5833e5.cf4c5","order":1,"width":4,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"radio_button_checked","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"radio_button_unchecked","offcolor":"red","x":130,"y":760,"wires":[["5a9e738f.5ac80c"]]},{"id":"5a9e738f.5ac80c","type":"change","z":"d4a3cd7a.3534f","name":"ARROSAGE","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":760,"wires":[["ddc779d3.64a118"]]},{"id":"ddc779d3.64a118","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"ARROSAGE","tooltip":"","group":"eb5833e5.cf4c5","order":2,"width":18,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":490,"y":760,"wires":[[]]},{"id":"8d5dcf6e.3d59e","type":"ui_switch","z":"d4a3cd7a.3534f","name":"","label":"ARROSER","tooltip":"ARROSER","group":"4d046324.7d111c","order":1,"width":4,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"radio_button_checked","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"radio_button_unchecked","offcolor":"red","x":130,"y":1060,"wires":[["5ea979db.5a5eb8"]]},{"id":"5ea979db.5a5eb8","type":"change","z":"d4a3cd7a.3534f","name":"ARROSAGE","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1060,"wires":[["56c5390b.0d0768"]]},{"id":"56c5390b.0d0768","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"ARROSAGE","tooltip":"","group":"4d046324.7d111c","order":2,"width":18,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":490,"y":1060,"wires":[[]]},{"id":"8a876800.066928","type":"ui_switch","z":"d4a3cd7a.3534f","name":"","label":"ARROSER","tooltip":"ARROSER","group":"dcbd50d2.d21cd","order":1,"width":4,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"radio_button_checked","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"radio_button_unchecked","offcolor":"red","x":130,"y":1280,"wires":[["94611a39.be7798"]]},{"id":"94611a39.be7798","type":"change","z":"d4a3cd7a.3534f","name":"ARROSAGE","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1280,"wires":[["e18da1fe.f6193"]]},{"id":"e18da1fe.f6193","type":"ui_text_input","z":"d4a3cd7a.3534f","name":"","label":"ARROSAGE","tooltip":"","group":"dcbd50d2.d21cd","order":2,"width":18,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":490,"y":1280,"wires":[[]]},{"id":"1a57d339.205b5d","type":"ui_chart","z":"d4a3cd7a.3534f","name":"Temperature","group":"1102bf87.f6ccf","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":1800,"wires":[[]]},{"id":"c5c52730.6fbee8","type":"mongodb3 in","z":"d4a3cd7a.3534f","service":"_ext_","configNode":"ab590201.bac29","name":"","collection":"temperature","operation":"find.forEach","x":380,"y":1940,"wires":[["984f5890.233798"]]},{"id":"984f5890.233798","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":1940,"wires":[]},{"id":"559fec10.d5daa4","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1940,"wires":[["c5c52730.6fbee8"]]},{"id":"77d08974.88e598","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"{\"time\":\"23/04/2020\",\"value\":22}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1800,"wires":[["7b85d4b4.19bbfc"]]},{"id":"7b85d4b4.19bbfc","type":"function","z":"d4a3cd7a.3534f","name":"","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1800,"wires":[["1a57d339.205b5d","3818e669.63624a","34491e42.5f8eb2"]]},{"id":"3818e669.63624a","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":1840,"wires":[]},{"id":"34491e42.5f8eb2","type":"ui_chart","z":"d4a3cd7a.3534f","name":"","group":"1102bf87.f6ccf","order":2,"width":0,"height":0,"label":"chart","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":1880,"wires":[[]]},{"id":"93fbcb15.a4ced8","type":"http request","z":"d4a3cd7a.3534f","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.sunrise-sunset.org/json?lat=43.700000&lng=7.250000&date=today","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1560,"wires":[["d348e0ff.19e4d"]]},{"id":"d8b7bed5.edaa7","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":1560,"wires":[]},{"id":"cbd049c9.b4d448","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1560,"wires":[["93fbcb15.a4ced8"]]},{"id":"d348e0ff.19e4d","type":"function","z":"d4a3cd7a.3534f","name":"Sunset/Sunrise","func":"//let lenJSON = Object.keys(msg.payload).length-1;\n//let lenJSON = Object.keys(msg.payload).length;\n//let valueTemp= msg.payload[lenJSON].value;\n\n\nvar json = JSON.parse(JSON.stringify(msg.payload));\n\n/* Sunrise */\nvar sunrise = json[\"results\"].sunrise;\nvar ret = sunrise.replace(' AM','');\nvar sunr = ret.split(':')\nvar hour, minute, second;\nif(sunr.length === 3) {\n    hour = parseInt(sunr[0], 10)+2;\n    minute = parseInt(sunr[1], 10);\n    second = parseInt(sunr[2], 10);\n}\n\n/* Sunset */\nvar sunset = json[\"results\"].sunset;\nvar ret1 = sunset.replace(' PM','');\nvar suns = ret1.split(':')\nvar hour1, minute1, second1;\nif(suns.length === 3) {\n    hour1 = parseInt(suns[0], 10)+2;\n    minute1 = parseInt(suns[1], 10);\n    second1 = parseInt(suns[2], 10);\n}\nvar varSunset = hour1+\":\"+minute1+\":\"+second1+\" PM\";\n\n\n\n//msg.payload = varSunset;\n\nvar sunsetSunrise ='{'+'\"Sunset\":'+'\"'+varSunset+'\"}';\nmsg.payload=JSON.parse(sunsetSunrise);\n//msg.payload=sunsetSunrise;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1560,"wires":[["d8b7bed5.edaa7"]]},{"id":"337b588b.a50678","type":"http request","z":"d4a3cd7a.3534f","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.sunrise-sunset.org/json?lat=43.700000&lng=7.250000&date=today","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":1640,"wires":[["9f573672.c2c988"]]},{"id":"9f573672.c2c988","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":1640,"wires":[]},{"id":"c4cb3cd2.093cf","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1640,"wires":[["337b588b.a50678"]]},{"id":"d5c821a0.10d98","type":"bigtimer","z":"d4a3cd7a.3534f","outtopic":"","outpayload1":"","outpayload2":"","name":"Début/Fin du jour","comment":"","lat":"43.700000","lon":"7.250000","starttime":"5003","endtime":"5004","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":"0","outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":270,"y":2080,"wires":[["1ae66d07.03e6d3","65085386.9c9c8c"],["7ac8b594.d2c64c","98208970.daf458","df065670.2ce558"],[]]},{"id":"8bff854f.f3e8c8","type":"inject","z":"d4a3cd7a.3534f","name":"","topic":"","payload":"Sync","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":2086,"wires":[["d5c821a0.10d98"]]},{"id":"b42ca5d4.822fc8","type":"inject","z":"d4a3cd7a.3534f","name":"Toggle","topic":"","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":2119,"wires":[["d5c821a0.10d98"]]},{"id":"3d50a605.c9e20a","type":"inject","z":"d4a3cd7a.3534f","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":2155,"wires":[["d5c821a0.10d98"]]},{"id":"e2763cd6.32812","type":"inject","z":"d4a3cd7a.3534f","name":"Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2190,"wires":[["d5c821a0.10d98"]]},{"id":"c6e70e33.bd0f8","type":"inject","z":"d4a3cd7a.3534f","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2230,"wires":[["d5c821a0.10d98"]]},{"id":"60b56688.e7d6b8","type":"split","z":"d4a3cd7a.3534f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":460,"y":2160,"wires":[["fb1708ba.8f4f58"]]},{"id":"fb1708ba.8f4f58","type":"string","z":"d4a3cd7a.3534f","name":"","methods":[{"name":"trimRight","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":460,"y":2200,"wires":[["4511409b.8dcf6"]]},{"id":"ce1ac0ab.a3ac2","type":"split","z":"d4a3cd7a.3534f","name":"","splt":"#","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":460,"y":2300,"wires":[["dc73f3d3.1fcef"]]},{"id":"dc73f3d3.1fcef","type":"switch","z":"d4a3cd7a.3534f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Sunrise","vt":"str"},{"t":"cont","v":"Sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":2340,"wires":[["53cfd883.f9f618"],["e321f2d9.581a9"]]},{"id":"53cfd883.f9f618","type":"string","z":"d4a3cd7a.3534f","name":"","methods":[{"name":"delLeftMost","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":600,"y":2320,"wires":[["1219a4e5.5c7f1b"]]},{"id":"e321f2d9.581a9","type":"string","z":"d4a3cd7a.3534f","name":"","methods":[{"name":"delLeftMost","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":600,"y":2360,"wires":[["cb78b587.437778"]]},{"id":"7ac8b594.d2c64c","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":2040,"wires":[]},{"id":"1ae66d07.03e6d3","type":"ui_switch","z":"d4a3cd7a.3534f","name":"","label":"Jour/Nuit","tooltip":"","group":"f97d0a3f.69f348","order":1,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"SUNRISE","onvalueType":"str","onicon":"fa-sun-o fa-2x","oncolor":"yellow","offvalue":"SUNSET","offvalueType":"str","officon":"fa-moon-o fa-2x","offcolor":"black","x":470,"y":2080,"wires":[[]]},{"id":"1219a4e5.5c7f1b","type":"ui_text","z":"d4a3cd7a.3534f","group":"f97d0a3f.69f348","order":2,"width":5,"height":1,"name":"Lever","label":"Lever du soleil","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":2320,"wires":[]},{"id":"cb78b587.437778","type":"ui_text","z":"d4a3cd7a.3534f","group":"f97d0a3f.69f348","order":3,"width":5,"height":1,"name":"Coucher","label":"Coucher du soleil","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":2360,"wires":[]},{"id":"6d706768.b4c4a8","type":"ui_template","z":"d4a3cd7a.3534f","group":"f97d0a3f.69f348","name":"Load CSS","order":5,"width":0,"height":0,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<style>\n .nr-dashboard-theme {\n \tbackground-color: #222;\n \toutline: 1px solid #cccccc;\n \t }\n</style>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":900,"y":2340,"wires":[[]]},{"id":"65085386.9c9c8c","type":"debug","z":"d4a3cd7a.3534f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":2000,"wires":[]},{"id":"4511409b.8dcf6","type":"switch","z":"d4a3cd7a.3534f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Sunrise","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":2240,"wires":[["ce1ac0ab.a3ac2"],[]]},{"id":"98208970.daf458","type":"function","z":"d4a3cd7a.3534f","name":"","func":"//  var sunrise_H = parseInt(msg.sunrise / 60);\n\nvar ttg = msg.duration;\nvar hr = parseInt(ttg / 60);\nvar min = (ttg % 60);\nmsg.payload = hr;\nmsg.payload += \" h \";\nif (min < 10)\n{\n   msg.payload += 0;\n}\nmsg.payload += min;\nmsg.payload += \" m\";\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":2080,"wires":[["7f235944.a6d8c8"]]},{"id":"7f235944.a6d8c8","type":"ui_text","z":"d4a3cd7a.3534f","group":"f97d0a3f.69f348","order":4,"width":5,"height":"2","name":"Meteo (Prochain événement en)","label":"Prochain événement en","format":"{{msg.payload}}","layout":"row-center","x":810,"y":2080,"wires":[]},{"id":"df065670.2ce558","type":"function","z":"d4a3cd7a.3534f","name":"Build message","func":"//  zeroPad(5, 2);\nvar sunrise_H = parseInt(msg.sunrise / 60)+2;\nvar sunrise_M = msg.sunrise % 60;\nvar sunset_H = parseInt(msg.sunset / 60)+2;\nvar sunset_M = msg.sunset % 60;\nmsg.payload = \"Sunrise \";\nif (sunrise_H < 10)\n{\n    msg.payload += 0;\n}\nmsg.payload += sunrise_H;\n//msg.payload = sunrise_H;\nmsg.payload += \":\";\nif (sunrise_M < 10)\n{\n   msg.payload += 0;\n}\nmsg.payload += sunrise_M;\n\nmsg.payload += \"#Sunset \";\nmsg.payload += sunset_H;\n//msg.payload = \"#\";\n//msg.payload += sunset_H;\nmsg.payload += \":\";\nif (sunset_M < 10)\n{\n   msg.payload += 0;\n}\nmsg.payload += sunset_M;\nmsg.payload += \" \\r\\n \";\nmsg.payload += msg.state;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2120,"wires":[["60b56688.e7d6b8"]]},{"id":"ace735a6.64bb48","type":"ui_group","z":"","d":true,"name":"Eléments d'entrée","tab":"5a14715a.c03f7","order":9,"disp":true,"width":"8","collapse":false},{"id":"9340858a.dcbbf8","type":"ui_group","z":"","d":true,"name":"Formulaire","tab":"5a14715a.c03f7","order":7,"disp":true,"width":"8","collapse":false},{"id":"f9054861.f9dd38","type":"ui_group","z":"","d":true,"name":"EL HAROUI TEST","tab":"5a14715a.c03f7","order":8,"disp":true,"width":"6","collapse":false},{"id":"dac5d7d0.1daed8","type":"ui_group","z":"","d":true,"name":"Analog","tab":"5a14715a.c03f7","order":10,"disp":true,"width":"6","collapse":false},{"id":"262f586.a875ea8","type":"ui_group","z":"d4a3cd7a.3534f","d":true,"name":"ON/OFF","tab":"5a14715a.c03f7","order":11,"disp":true,"width":"5","collapse":false},{"id":"d339a510.3b4d58","type":"mongodb3","z":"","uri":"mongodb+srv://test:test@cluster0-d9c8u.mongodb.net/test?retryWrites=true&w=majority/golf","name":"Atlas","options":"","parallelism":"-1"},{"id":"eb5833e5.cf4c5","type":"ui_group","z":"","name":"LIEU DU GOLF {1}","tab":"5a14715a.c03f7","order":3,"disp":true,"width":"22","collapse":false},{"id":"4d046324.7d111c","type":"ui_group","z":"","name":"LIEU DU GOLF {2}","tab":"5a14715a.c03f7","order":4,"disp":true,"width":"22","collapse":false},{"id":"fe0feb3e.cbd708","type":"ui_group","z":"","name":"METEO NICE","tab":"5a14715a.c03f7","order":1,"disp":true,"width":"10","collapse":false},{"id":"dcbd50d2.d21cd","type":"ui_group","z":"","name":"LIEU DU GOLF {3}","tab":"5a14715a.c03f7","order":5,"disp":true,"width":"22","collapse":false},{"id":"1102bf87.f6ccf","type":"ui_group","z":"","d":true,"name":"Demo","tab":"5a14715a.c03f7","order":6,"disp":true,"width":"6","collapse":false},{"id":"ab590201.bac29","type":"mongodb3","z":"","uri":"mongodb://212.115.110.52:27017/golf","name":"golf","options":"","parallelism":"-1"},{"id":"f97d0a3f.69f348","type":"ui_group","z":"","name":"Coucher/Lever du soleil","tab":"5a14715a.c03f7","order":2,"disp":true,"width":"5","collapse":false},{"id":"5a14715a.c03f7","type":"ui_tab","z":"","name":"STATION DE GESTION DU GOLF","icon":"home","order":2,"disabled":false,"hidden":false}]