NODE-RED FLOWS/Systéme d'arrosage.json
[{"id":"909d8b07.ea42b8","type":"tab","label":"Systéme d'arrosage","disabled":false,"info":""},{"id":"26876b67.e67034","type":"inject","z":"909d8b07.ea42b8","name":"","topic":"","payload":"gettemp","payloadType":"str","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[["b0e9ebe7.7a6f38","838da8ea.5fad78","6871cb85.46e874"]]},{"id":"b0e9ebe7.7a6f38","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback/zakaria","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":540,"y":100,"wires":[]},{"id":"9e72fbb.e35d408","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/temp/zakaria","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":200,"y":280,"wires":[["9d17c626.5654a8"]]},{"id":"d72664ce.0783d8","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/temp/jassim","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":190,"y":240,"wires":[["9d17c626.5654a8"]]},{"id":"6f195434.20230c","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/temp/tonzar","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":190,"y":320,"wires":[["9d17c626.5654a8"]]},{"id":"5bddbafb.473f34","type":"mongodb3 in","z":"909d8b07.ea42b8","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"temperature","operation":"insert","x":670,"y":280,"wires":[[]]},{"id":"6871cb85.46e874","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback/jassim","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":540,"y":40,"wires":[]},{"id":"838da8ea.5fad78","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":540,"y":160,"wires":[]},{"id":"78500629.01b7b8","type":"inject","z":"909d8b07.ea42b8","name":"","topic":"","payload":"getphoto","payloadType":"str","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["838da8ea.5fad78","b0e9ebe7.7a6f38","6871cb85.46e874"]]},{"id":"495197f4.e71ae8","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/photoresistor/jassim","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":220,"y":420,"wires":[["2cc08585.6346da"]]},{"id":"1dce24d9.360b7b","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/photoresistor/zakaria","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":220,"y":380,"wires":[["2cc08585.6346da"]]},{"id":"78b8de58.d5d59","type":"mqtt in","z":"909d8b07.ea42b8","name":"","topic":"sensors/photoresistor/tonzar","qos":"0","datatype":"json","broker":"8c8fe6bc.624468","x":220,"y":460,"wires":[["2cc08585.6346da"]]},{"id":"a6beced9.307dd","type":"mongodb3 in","z":"909d8b07.ea42b8","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"light","operation":"insert","x":680,"y":420,"wires":[[]]},{"id":"9d17c626.5654a8","type":"function","z":"909d8b07.ea42b8","name":"Add time","func":"var timestamp = Math.round(+new Date() / 1000);\n//msg.payload[\"Date\"]= d.getTime();\nmsg.payload.Date=timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["5bddbafb.473f34"]]},{"id":"2cc08585.6346da","type":"function","z":"909d8b07.ea42b8","name":"Add time","func":"var timestamp = Math.round(+new Date() / 1000);\n//msg.payload[\"Date\"]= d.getTime();\nmsg.payload.Date=timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":420,"wires":[["a6beced9.307dd"]]},{"id":"c8cf0146.c582e","type":"mongodb3 in","z":"909d8b07.ea42b8","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"temperature","operation":"aggregate.toArray","x":390,"y":700,"wires":[["b4a99d9b.b752","d1a628fa.bbf958","5a4a6ebf.65104"]]},{"id":"d56a2e31.ba9b","type":"inject","z":"909d8b07.ea42b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["c8cf0146.c582e","cd253948.a2e0d8","6f63e763.087b78"]]},{"id":"b4a99d9b.b752","type":"function","z":"909d8b07.ea42b8","name":"temp moy zakaria","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar temp=0;\nvar count=0\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"zakaria\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n temp=temp+ msg.payload[i].value;\n count++;\n}\n}\nif ((count!==0)&&(temp!==0)){\n    var payload='{'+'\"temp\":'+temp/count+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":560,"wires":[["293c0a18.efdd06"]]},{"id":"73a51100.3c9fd","type":"mongodb3 in","z":"909d8b07.ea42b8","service":"_ext_","configNode":"d339a510.3b4d58","name":"delete database","collection":"temperature","operation":"drop","x":320,"y":840,"wires":[[]]},{"id":"db733949.844b88","type":"inject","z":"909d8b07.ea42b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"15 22 * * 0","once":false,"onceDelay":0.1,"x":130,"y":840,"wires":[["73a51100.3c9fd"]]},{"id":"cd253948.a2e0d8","type":"mongodb3 in","z":"909d8b07.ea42b8","service":"_ext_","configNode":"d339a510.3b4d58","name":"","collection":"light","operation":"aggregate.toArray","x":360,"y":740,"wires":[["fd39e46c.d149e8","6db5d742.92aa28","f4976bec.0e4fc8"]]},{"id":"293c0a18.efdd06","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":560,"wires":[["5a9ef7a1.629a88"]]},{"id":"fd39e46c.d149e8","type":"function","z":"909d8b07.ea42b8","name":"lumiere jour zakaria","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar light=0;\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"zakaria\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n light=light+ msg.payload[i].value;\n}\n}\nif (light!==0){\n    var payload='{'+'\"light\":'+light+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":600,"wires":[["88422266.6b358"]]},{"id":"88422266.6b358","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":600,"wires":[["5a9ef7a1.629a88"]]},{"id":"5a9ef7a1.629a88","type":"join","z":"909d8b07.ea42b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1930,"y":580,"wires":[["8ab667eb.3dc9f8","73de32c8.33a76c"]]},{"id":"92f3cfe.0ad713","type":"comment","z":"909d8b07.ea42b8","name":"zakaria","info":"Zakaria","x":830,"y":580,"wires":[]},{"id":"d1a628fa.bbf958","type":"function","z":"909d8b07.ea42b8","name":"temp moy jassim","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar temp=0;\nvar count=0\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"jassim\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n temp=temp+ msg.payload[i].value;\n count++;\n}\n}\nif ((count!==0)&&(temp!==0)){\n    var payload='{'+'\"temp\":'+temp/count+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":700,"wires":[["1d13a9e8.6d21f6"]]},{"id":"1d13a9e8.6d21f6","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":700,"wires":[["8d8f9281.a68df"]]},{"id":"6db5d742.92aa28","type":"function","z":"909d8b07.ea42b8","name":"lumiere jour jassim","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar light=0;\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"jassim\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n light=light+ msg.payload[i].value;\n}\n}\nif (light!==0){\n    var payload='{'+'\"light\":'+light+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":740,"wires":[["a0a02da0.6c366"]]},{"id":"a0a02da0.6c366","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":740,"wires":[["8d8f9281.a68df"]]},{"id":"8d8f9281.a68df","type":"join","z":"909d8b07.ea42b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1930,"y":760,"wires":[["ae94fe48.8697a","1b9f9e49.4cb882"]]},{"id":"b80c9b2a.8e58d8","type":"comment","z":"909d8b07.ea42b8","name":"jassim","info":"Zakaria","x":830,"y":720,"wires":[]},{"id":"5a4a6ebf.65104","type":"function","z":"909d8b07.ea42b8","name":"temp moy tonzar","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar temp=0;\nvar count=0\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"tonzar\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n temp=temp+ msg.payload[i].value;\n count++;\n}\n}\nif ((count!==0)&&(temp!==0)){\n    var payload='{'+'\"temp\":'+temp/count+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["58dc7797.a83da8"]]},{"id":"58dc7797.a83da8","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":820,"wires":[["1f6abdfd.2ae4c2"]]},{"id":"f4976bec.0e4fc8","type":"function","z":"909d8b07.ea42b8","name":"lumiere jour tonzar","func":"var now =Math.round(+new Date() / 1000);\nvar yesterday=now-86400;\nlen=Object.keys(msg.payload).length;\nvar light=0;\nfor (let i = 0; i < len; i++) {\nif ((msg.payload[i].field==\"tonzar\")&&(msg.payload[i].Date<=now)&&(msg.payload[i].Date>=yesterday)){\n light=light+ msg.payload[i].value;\n}\n}\nif (light!==0){\n    var payload='{'+'\"light\":'+light+'}';\n    payload=JSON.parse(payload);\n    msg.payload=payload;\n    \n} else msg.payload=null ;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":860,"wires":[["15d88174.11bd9f"]]},{"id":"15d88174.11bd9f","type":"switch","z":"909d8b07.ea42b8","name":"if not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":860,"wires":[["1f6abdfd.2ae4c2"]]},{"id":"1f6abdfd.2ae4c2","type":"join","z":"909d8b07.ea42b8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1930,"y":880,"wires":[["f861d033.8ab1","96bb980c.a4aa08"]]},{"id":"6068f6d6.553508","type":"comment","z":"909d8b07.ea42b8","name":"tonzar","info":"Zakaria","x":830,"y":840,"wires":[]},{"id":"6f63e763.087b78","type":"http request","z":"909d8b07.ea42b8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://www.infoclimat.fr/public-api/gfs/json?_ll=48.85341,2.3488&_auth=U0leSQd5UnBSf1FmUCYCK1M7UmddKwIlBnoKaQFkB3oGbQVkUTFVMwJsVShSfQI0UXxTMA80AjIAawF5CnhVNFM5XjIHbFI1Uj1RNFB%2FAilTfVIzXX0CJQZhCmsBcgdlBmwFYlEsVTECalUpUmACKVF9UzIPNQIyAGsBZQpkVTNTNF4%2BB2VSL1IiUTZQNQJnUzNSM11hAj8GZAo%2FAW8HNwY3BWJRMVUpAm1VP1JqAjdRY1MyDzgCOQB8AXkKHlVFUy1eegcmUmVSe1EuUDUCaFM0&_c=9bf5e790084f63e6e0ebae8e4f00be62","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":780,"wires":[["a48b19b0.dcc018"]]},{"id":"a48b19b0.dcc018","type":"function","z":"909d8b07.ea42b8","name":"rainfall","func":"var today = new Date();\nvar dd = today.getDate();\nvar mm = today.getMonth()+1; \nvar yyyy = today.getFullYear();\nif(dd<10) \n{\n    dd='0'+dd;\n} \nif(mm<10) \n{\n    mm='0'+mm;\n} \ntoday = yyyy+'-'+mm+'-'+dd;\n\nvar json = JSON.parse(JSON.stringify(msg.payload));\n\n//var pluie1 = json[\"\"+today+\" 02:00:00\"].pluie;\n//var pluie2 = json[\"\"+today+\" 05:00:00\"].pluie;\n//var pluie3 = json[\"\"+today+\" 08:00:00\"].pluie;\n//var pluie4 = json[\"\"+today+\" 11:00:00\"].pluie\n//var pluie5 = json[\"\"+today+\" 14:00:00\"].pluie;\n//var pluie6 = json[\"\"+today+\" 17:00:00\"].pluie;\n//var pluie7 = json[\"\"+today+\" 20:00:00\"].pluie;\n//var pluie8 = json[\"\"+today+\" 23:00:00\"].pluie;\n\n\nvar pluie1=0;\nif (today+\" 02:00:00\" in json) {\n   pluie1 = json[\"\"+today+\" 02:00:00\"].pluie;\n  }\nelse\n  {\n    pluie1=0;\n  }\n\nvar pluie2=0;\nif (today+\" 05:00:00\" in json) {\n   pluie2 = json[\"\"+today+\" 05:00:00\"].pluie;\n  }\nelse\n  {\n    pluie2=0;\n  }\n\n  var pluie3=0;\nif (today+\" 08:00:00\" in json) {\n   pluie3 = json[\"\"+today+\" 08:00:00\"].pluie;\n  }\nelse\n  {\n    pluie3=0;\n  }\n\n  var pluie4=0;\nif (today+\" 11:00:00\" in json) {\n   pluie4 = json[\"\"+today+\" 11:00:00\"].pluie;\n  }\nelse\n  {\n    pluie4=0;\n  }\n\n    var pluie5=0;\nif (today+\" 14:00:00\" in json) {\n   pluie5 = json[\"\"+today+\" 14:00:00\"].pluie;\n  }\nelse\n  {\n    pluie5=0;\n  }\n\nvar pluie6=0;\nif (today+\" 17:00:00\" in json) {\n   pluie6 = json[\"\"+today+\" 17:00:00\"].pluie;\n  }\nelse\n  {\n    pluie6=0;\n  }\n\nvar pluie7=0;\nif (today+\" 20:00:00\" in json) {\n   pluie7 = json[\"\"+today+\" 20:00:00\"].pluie;\n  }\nelse\n  {\n    pluie7=0;\n  }\n\nvar pluie8=0;\nif (today+\" 23:00:00\" in json) {\n   pluie8 = json[\"\"+today+\" 23:00:00\"].pluie;\n  }\nelse\n  {\n    pluie8=0;\n  }\n\n\nvar quantitePluieJour = pluie1+ pluie2 + pluie3 +pluie4 +pluie5 +pluie6 +pluie7 +pluie8;\n\nvar pl= Math.round(quantitePluieJour*100)/100;\nvar pluief='{'+'\"rain\":'+pl+'}';\nmsg.payload=JSON.parse(pluief);\n//msg.payload = today;\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":700,"wires":[["5a9ef7a1.629a88","8d8f9281.a68df","1f6abdfd.2ae4c2"]]},{"id":"8ab667eb.3dc9f8","type":"switch","z":"909d8b07.ea42b8","name":"rain [5,10]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"10","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2120,"y":580,"wires":[["74d8511b.c5ab8","bf346b1c.ad42f8"]]},{"id":"73de32c8.33a76c","type":"switch","z":"909d8b07.ea42b8","name":"rain[0,5]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"5","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2120,"y":620,"wires":[["526301ee.a20ac","72cd347b.968ddc"]]},{"id":"74d8511b.c5ab8","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2500,"y":480,"wires":[["942d0539.727f78","2d02c10d.012b9e"]]},{"id":"bf346b1c.ad42f8","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2500,"y":540,"wires":[["969b6a1e.4d15a8","810be3df.616c5"]]},{"id":"942d0539.727f78","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":440,"wires":[["2b5a883.b783778","df73d809.efe2b8"]]},{"id":"2d02c10d.012b9e","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":480,"wires":[["2b5a883.b783778","16cce276.b9ab0e"]]},{"id":"969b6a1e.4d15a8","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":520,"wires":[["2b5a883.b783778","bcda06b2.bca6a8"]]},{"id":"810be3df.616c5","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":560,"wires":[["2b5a883.b783778","9a923261.6e74d"]]},{"id":"526301ee.a20ac","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2500,"y":640,"wires":[["97a22f6e.80733","a5f6aa81.8d8f58"]]},{"id":"72cd347b.968ddc","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2500,"y":700,"wires":[["b5df7b0f.61f048","fe563fdd.01769"]]},{"id":"97a22f6e.80733","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":600,"wires":[["2b5a883.b783778","bcda06b2.bca6a8"]]},{"id":"a5f6aa81.8d8f58","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":640,"wires":[["2b5a883.b783778","9a923261.6e74d"]]},{"id":"b5df7b0f.61f048","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":680,"wires":[["2b5a883.b783778","a01b6810.0623f8"]]},{"id":"fe563fdd.01769","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2720,"y":720,"wires":[["2b5a883.b783778","df73d809.efe2b8"]]},{"id":"d67e57ca.7456f8","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback/zakaria","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":3260,"y":480,"wires":[]},{"id":"2b5a883.b783778","type":"function","z":"909d8b07.ea42b8","name":"On","func":"msg.payload=\"onlamp\";\nreturn msg;","outputs":1,"noerr":0,"x":2890,"y":400,"wires":[["d67e57ca.7456f8"]]},{"id":"df73d809.efe2b8","type":"function","z":"909d8b07.ea42b8","name":"off 4 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 240000);\n","outputs":1,"noerr":0,"x":3040,"y":440,"wires":[["d67e57ca.7456f8"]]},{"id":"16cce276.b9ab0e","type":"function","z":"909d8b07.ea42b8","name":"off 2 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 120000);\n","outputs":1,"noerr":0,"x":3040,"y":480,"wires":[["d67e57ca.7456f8"]]},{"id":"bcda06b2.bca6a8","type":"function","z":"909d8b07.ea42b8","name":"off 5 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 300000);\n","outputs":1,"noerr":0,"x":3040,"y":520,"wires":[["d67e57ca.7456f8"]]},{"id":"9a923261.6e74d","type":"function","z":"909d8b07.ea42b8","name":"off 3 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 180000);\n","outputs":1,"noerr":0,"x":3040,"y":560,"wires":[["d67e57ca.7456f8"]]},{"id":"a01b6810.0623f8","type":"function","z":"909d8b07.ea42b8","name":"off 6 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 360000);\n","outputs":1,"noerr":0,"x":3040,"y":620,"wires":[["d67e57ca.7456f8"]]},{"id":"ae94fe48.8697a","type":"switch","z":"909d8b07.ea42b8","name":"rain [5,10]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"10","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2140,"y":740,"wires":[["3939871e.b4f2a8","489840d5.33f97"]]},{"id":"1b9f9e49.4cb882","type":"switch","z":"909d8b07.ea42b8","name":"rain[0,5]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"5","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2140,"y":780,"wires":[["cb0886c4.613aa8","95714e8c.19c4d"]]},{"id":"3939871e.b4f2a8","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2540,"y":860,"wires":[["f156ab01.fd5168","36167d20.7b7da2"]]},{"id":"489840d5.33f97","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2540,"y":920,"wires":[["b2b0c8ec.2e49e8","1bae3b3e.f5eb25"]]},{"id":"f156ab01.fd5168","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":820,"wires":[["a8da3a72.52c028","8ff90631.2e19c8"]]},{"id":"36167d20.7b7da2","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":860,"wires":[["a8da3a72.52c028","f5aa77a5.1d0628"]]},{"id":"b2b0c8ec.2e49e8","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":900,"wires":[["a8da3a72.52c028","f186b317.ba787"]]},{"id":"1bae3b3e.f5eb25","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":940,"wires":[["a8da3a72.52c028","8e04d114.c22a4"]]},{"id":"cb0886c4.613aa8","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2540,"y":1020,"wires":[["9c6b6184.88a24","92253336.ec0bf"]]},{"id":"95714e8c.19c4d","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2540,"y":1080,"wires":[["fa3981e8.f56f3","af5bc18e.df33"]]},{"id":"9c6b6184.88a24","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":980,"wires":[["a8da3a72.52c028","f186b317.ba787"]]},{"id":"92253336.ec0bf","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":1020,"wires":[["a8da3a72.52c028","8e04d114.c22a4"]]},{"id":"fa3981e8.f56f3","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":1060,"wires":[["a8da3a72.52c028","b9ffd78d.4114f8"]]},{"id":"af5bc18e.df33","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2760,"y":1100,"wires":[["a8da3a72.52c028","8ff90631.2e19c8"]]},{"id":"3f7c7ed4.fcabd2","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback/jassim","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":3300,"y":860,"wires":[]},{"id":"a8da3a72.52c028","type":"function","z":"909d8b07.ea42b8","name":"On","func":"msg.payload=\"onlamp\";\nreturn msg;","outputs":1,"noerr":0,"x":3070,"y":760,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"8ff90631.2e19c8","type":"function","z":"909d8b07.ea42b8","name":"off 4 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 240000);\n","outputs":1,"noerr":0,"x":3080,"y":820,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"f5aa77a5.1d0628","type":"function","z":"909d8b07.ea42b8","name":"off 2 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 120000);\n","outputs":1,"noerr":0,"x":3080,"y":860,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"f186b317.ba787","type":"function","z":"909d8b07.ea42b8","name":"off 5 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 300000);\n","outputs":1,"noerr":0,"x":3080,"y":900,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"8e04d114.c22a4","type":"function","z":"909d8b07.ea42b8","name":"off 3 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 180000);\n","outputs":1,"noerr":0,"x":3080,"y":940,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"b9ffd78d.4114f8","type":"function","z":"909d8b07.ea42b8","name":"off 6 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 360000);\n","outputs":1,"noerr":0,"x":3080,"y":1000,"wires":[["3f7c7ed4.fcabd2"]]},{"id":"f861d033.8ab1","type":"switch","z":"909d8b07.ea42b8","name":"rain [5,10]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"10","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2140,"y":880,"wires":[["6ebaea01.526ff4","78917101.a86cb"]]},{"id":"96bb980c.a4aa08","type":"switch","z":"909d8b07.ea42b8","name":"rain[0,5]","property":"payload.rain","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"5","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2140,"y":920,"wires":[["4c3a848e.d56c7c","e5a13925.ce8418"]]},{"id":"6ebaea01.526ff4","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2560,"y":1220,"wires":[["720356c8.df8a28","5e2dd6aa.21ba88"]]},{"id":"78917101.a86cb","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2560,"y":1280,"wires":[["306bc639.5a34ea","3b4194aa.d4248c"]]},{"id":"720356c8.df8a28","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1180,"wires":[["76070b6c.cd2b24","7610143a.aa370c"]]},{"id":"5e2dd6aa.21ba88","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1220,"wires":[["76070b6c.cd2b24","abbcf757.ac1328"]]},{"id":"306bc639.5a34ea","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1260,"wires":[["76070b6c.cd2b24","9b5e7c8e.4a83b"]]},{"id":"3b4194aa.d4248c","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1300,"wires":[["76070b6c.cd2b24","1ea5e65d.7045ba"]]},{"id":"4c3a848e.d56c7c","type":"switch","z":"909d8b07.ea42b8","name":"light [60k,45k]","property":"payload.light","propertyType":"msg","rules":[{"t":"btwn","v":"60000","vt":"num","v2":"45000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2560,"y":1380,"wires":[["e1475891.d81c38","2f3e5458.8130fc"]]},{"id":"e5a13925.ce8418","type":"switch","z":"909d8b07.ea42b8","name":"light <45k","property":"payload.light","propertyType":"msg","rules":[{"t":"lt","v":"45000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2560,"y":1440,"wires":[["6ee15b41.c18004","dd21fb3a.2087b8"]]},{"id":"e1475891.d81c38","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1340,"wires":[["76070b6c.cd2b24","9b5e7c8e.4a83b"]]},{"id":"2f3e5458.8130fc","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1380,"wires":[["76070b6c.cd2b24","1ea5e65d.7045ba"]]},{"id":"6ee15b41.c18004","type":"switch","z":"909d8b07.ea42b8","name":"temp>25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1420,"wires":[["76070b6c.cd2b24","f6a42ae6.c94168"]]},{"id":"dd21fb3a.2087b8","type":"switch","z":"909d8b07.ea42b8","name":"temp<25°","property":"payload.temp","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2780,"y":1460,"wires":[["76070b6c.cd2b24","7610143a.aa370c"]]},{"id":"1d07095e.72dad7","type":"mqtt out","z":"909d8b07.ea42b8","name":"","topic":"callback/tonzar","qos":"0","retain":"","broker":"8c8fe6bc.624468","x":3320,"y":1220,"wires":[]},{"id":"76070b6c.cd2b24","type":"function","z":"909d8b07.ea42b8","name":"On","func":"msg.payload=\"onlamp\";\nreturn msg;","outputs":1,"noerr":0,"x":3090,"y":1120,"wires":[["1d07095e.72dad7"]]},{"id":"7610143a.aa370c","type":"function","z":"909d8b07.ea42b8","name":"off 4 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 240000);\n","outputs":1,"noerr":0,"x":3100,"y":1180,"wires":[["1d07095e.72dad7"]]},{"id":"abbcf757.ac1328","type":"function","z":"909d8b07.ea42b8","name":"off 2 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 120000);\n","outputs":1,"noerr":0,"x":3100,"y":1220,"wires":[["1d07095e.72dad7"]]},{"id":"9b5e7c8e.4a83b","type":"function","z":"909d8b07.ea42b8","name":"off 5 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 300000);\n","outputs":1,"noerr":0,"x":3100,"y":1260,"wires":[["1d07095e.72dad7"]]},{"id":"1ea5e65d.7045ba","type":"function","z":"909d8b07.ea42b8","name":"off 3 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 180000);\n","outputs":1,"noerr":0,"x":3100,"y":1300,"wires":[["1d07095e.72dad7"]]},{"id":"f6a42ae6.c94168","type":"function","z":"909d8b07.ea42b8","name":"off 6 min","func":"\nsetTimeout(function(){\nmsg.payload=\"offlamp\";\nnode.send(msg);\n}, 360000);\n","outputs":1,"noerr":0,"x":3100,"y":1360,"wires":[["1d07095e.72dad7"]]},{"id":"8c8fe6bc.624468","type":"mqtt-broker","z":"","name":"local","broker":"localhost","port":"1818","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d339a510.3b4d58","type":"mongodb3","z":"","uri":"mongodb+srv://test:test@cluster0-d9c8u.mongodb.net/test?retryWrites=true&w=majority/golf","name":"Atlas","options":"","parallelism":"-1"}]